<% model = model_name.constantize %>
<% model_names = model.model_name %>

<div class="admin-header">
  <div id="notice"><%= notice %></div>
  <div class="well">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="admin-header__item"><%= model_names.plural.titleize %> <span class="badge"><%= number_with_delimiter records.total_count %></span></h1>
        <%= form_tag send("#{model_names.route_key}_path"), class: 'form-inline admin-header__item', method: :get, enforce_utf8: false do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search' %>
            <%= submit_tag 'Submit', name: nil, class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
      <div class="col-sm-4 text-right">
        <%= link_to "New #{model_names.singular}", send("new_#{model_names.singular_route_key}_path"), class: 'btn btn-success' %>
      </div>
      <% if content_for? :index_header_body %>
        <div class="admin-header__body col-sm-12">
          <%= content_for :index_header_body %>
        </div>
      <% end %>
      <div class="col-sm-6">
        <%= paginate records %>
      </div>
      <div class="col-sm-6 text-right admin-header__search">
      </div>
    </div>
  </div>
</div>
