<%= simple_form_for [:admin, @page], data: { preview_path: @page.new_record? ? nil : preview_admin_page_path(@page) } do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-12">

      <% if @page.redirect.present? %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          This page is being redirected to: <%= link_to @page.redirect, @page.redirect, class: 'text-danger' %>
        </div>
      <% end %>

      <div class="panel panel-default" data-collapse-parent>
        <div class="panel-heading">
          <h3 class="panel-title">
            Metadata
            <button type="button" class="btn btn-default btn-xs pull-right" data-collapse-trigger>
              <div class="collapsable-icon glyphicon glyphicon-chevron-up"></div>
            </button>
          </h3>
        </div>
        <div class="panel-body" data-collapse-body>
          <div class="form-inputs">
            <div class="row">
              <div class="col-sm-6">
                <%= f.input :title %>
                <%= render 'admin/form_inputs/slug', f: f %>
                <%= f.association :parent_page, remote: { scope: :title_like, path: admin_pages_path(current_record: @page) } %>
                <%= f.input :description, label: 'SEO Description' %>
                <%= f.button :submit, class: 'btn-success' %>
              </div>
              <div class="col-sm-6">
                <%= render 'admin/form_inputs/status', f: f, record: @page %>
                <%= f.input :redirect, hint: 'Add a relative path or full URL if you need to redirect this page to another URL.' %>
                <%= f.association :featured_image, as: :image %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= render 'admin/pages/additional_inputs', f: f %>

      <%= render 'admin/block_record/block_layout', f: f, block_layout: @block_layout, block_kinds: @block_kinds %>

      <%= f.button :submit, class: 'btn-success' %>
    </div>
  </div>
<% end %>
