<% content_for :index_header_body do %>
  <% if Page.statusable? %>
    <div class="col-auto pl-2">
      <%= dropdown_select_form url: admin_pages_path(current_scopes.except(:by_status)),
        id: 'by_status',
        select_options: Page.statuses.keys.to_a.collect{ |x| [x.titleize, x] },
        title: 'All Statuses' %>
    </div>
  <% end %>
<% end %>
<%= render 'admin/headers/index', records: @parent_pages, model_name: 'Page' %>
<div class="table-responsive">
  <table class="forest-table table table-striped table-sm">
    <thead>
      <tr>
        <% if Page.statusable? %>
          <th></th>
        <% end %>
        <th><%= table_sorter title: 'ID', path: :admin_pages_path, scope: :by_id, default_order: :desc %></th>
        <th><%= table_sorter title: 'Title', path: :admin_pages_path, scope: :by_title %></th>
        <%# TODO: Author %>
        <th>Path</th>
        <th><%= table_sorter title: 'Updated&nbsp;at'.html_safe, path: :admin_pages_path, scope: :by_updated_at, default_order: :desc %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'admin/pages/table_row', collection: @parent_pages, locals: { level: 0 }, as: :page %>
    </tbody>
  </table>
</div>
<%= render 'admin/footers/index' %>
