<% layout_title = local_assigns.fetch(:layout_title, nil) %>
<% layout_display_name = layout_title.presence || local_assigns.fetch(:layout_name, 'Page layout') %>
<% layout_description = local_assigns.fetch(:layout_description, nil) %>
<% layout_name_for_query = local_assigns.fetch(:layout_name, nil) %>

<div class="block-layout panel panel-default" data-collapse-parent>
  <div class="panel-heading">
    <h3 class="panel-title">
      Block Layout:
      <%= layout_display_name.titleize %>
      <button type="button" class="btn btn-default btn-xs pull-right" title="Collapse all blocks" data-block-collapse-all>
        <div class="glyphicon glyphicon-minus"></div>
      </button>
    </h3>
  </div>
  <div class="panel-body">
    <div class="form-inputs">
      <div class="row">
        <% if layout_description.present? %>
          <div class="col-sm-6">
            <div class="block-layout__description text-muted">
              <%= layout_description %>
            </div>
          </div>
        <% end %>
        <div class="col-sm-12">

          <div class="block_slots">
            <%= f.simple_fields_for :block_slots, f.object.block_slots.where(layout: layout_name_for_query) do |block_slot| %>
              <%= render 'block_record/block_slot_fields', f: block_slot, block_kinds: block_kinds, layout_name: layout_name_for_query %>
            <% end %>
            <div class='links'>
              <%= link_to_add_association 'Add Block', f, :block_slots,
                                          class: 'hidden',
                                          partial: 'block_record/block_slot_fields',
                                          render_options: {
                                            locals: {
                                              block_kinds: block_kinds,
                                              layout_name: layout_name_for_query } } %>
            </div>
          </div>

          <div class="block-dropdown dropup">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add Block
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <% block_kinds.each do |block_kind| %>
                <li>
                  <%= link_to '#', class: 'block-dropdown__item', data: { block_kind: block_kind.name, block_kind_id: block_kind.id } do %>
                    <%= content_tag :span, '', class: block_kind.display_icon, 'aria-hidden': true %>
                    &nbsp;&nbsp;
                    <%= block_kind.display_name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
