<%= simple_form_for([:admin, @redirect]) do |f| %>
  <%= f.error_notification %>
  <div class="row small-gutters">
    <%= render 'admin/shared/edit/sidebar', f: f, record: @redirect %>
    <div class="col-md-9">
      <div class="card">
        <h1 class="h2 card-header"><%= record_name(@redirect) %></h1>
        <div class="card-body">
          <div class="form-inputs">
            <div class="row small-gutters">
              <div class="col-md-6">
                <%= f.input :name, hint: 'Optional name for organizational purposes.' %>
                <%= f.input :from_path, hint: 'The relative path this redirect should match.' %>
                <%= f.input :to_path, hint: 'The relative or absolute path to where this redirect should go.' %>
                <%#= f.input :redirect_type %>
                <%= f.button :submit, class: 'btn-success d-md-none' %>
              </div>
              <div class="col-md-6">
                <%= render 'admin/form_inputs/status', f: f, record: @redirect %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
