<%= simple_form_for([:admin, @block_layout]) do |f| %>
  <%= f.error_notification %>
  <div class="row small-gutters">
    <%= render 'admin/shared/edit/sidebar', f: f, record: @block_layout %>
    <div class="col-md-9">
      <div class="card">
        <h1 class="h2 card-header"><%= record_name(@block_layout) %></h1>
          <div class="card-body">
            Block layouts allow the application developer to create separate groupings of content blocks. Not all sites
            will use this feature, and you may only see a single block layout: the default "Content Blocks".
            <hr>
            <div class="form-inputs">
              <div class="row">
                <div class="col-md-6">
                  <%= f.input :display_name %>
                  <%= render 'admin/form_inputs/slug', f: f %>
                </div>
                <div class="col-md-6">
                  <%= f.input :description %>
                  <%= f.button :submit, class: 'btn-success d-md-none' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
