<%= render 'admin/headers/index', records: @block_layouts, model_name: 'BlockLayout' %>

<div class="table-responsive">
  <table class="forest-table table table-striped">
    <thead>
      <tr>
        <th><%= table_sorter title: 'ID', path: :admin_block_layouts_path, scope: :by_id, default_order: :desc %></th>
        <th><%= table_sorter title: 'Slug', path: :admin_block_layouts_path, scope: :by_slug, default_order: :asc %></th>
        <th>Display Name</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @block_layouts.each do |block_layout| %>
        <tr>
          <td><%= block_layout.id %></td>
          <td><%= block_layout.slug %></td>
          <td><%= block_layout.display_name %></td>
          <td><%= block_layout.description %></td>
          <td width="1"><%= link_to 'Edit', edit_admin_block_layout_path(block_layout), class: 'btn btn-xs btn-primary', role: 'button' %></td>
          <td width="1"><%= link_to 'Show', admin_block_layout_path(block_layout), class: 'btn btn-xs btn-info', role: 'button' %></td>
          <td width="1"><%= link_to 'Destroy', [:admin, block_layout], method: :delete, class: 'btn btn-xs btn-danger', role: 'button', data: { confirm: 'Warning! You are about to destroy a Block Layout, which will disable all blocks belonging to this layout from displaying. Are you sure you want to do this?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @block_layouts %>
