<%= simple_form_for(@menu) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default" data-collapse-parent>
        <div class="panel-heading">
          <h3 class="panel-title">
            Metadata
          </h3>
        </div>
        <div class="panel-body" data-collapse-body>
          <div class="form-inputs">
            <div class="row">
              <div class="col-sm-6">
                <p class="text-muted">The menu name and slug determines where this menu is displayed.</p>
                <%= f.input :title %>
                <%= f.input :slug %>
                <%= f.input :structure, as: :hidden %>
                <%= f.button :submit, class: 'btn-success' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default" data-collapse-parent>
        <div class="panel-heading">
          <h3 class="panel-title">
            Menu Structure
          </h3>
        </div>
        <div class="panel-body" data-collapse-body>
          <div class="form-inputs">
            <div class="row">
              <div class="col-sm-6">
                <p class="text-muted">Add menu items and arrange them hierarchically by dragging them into position. Menu items may be linked directly to pages or to custom URLs.</p>
              </div>
              <div class="col-sm-12">
                <div class="dd" id="dd-primary">
                  <% if @menu.structure_as_json.present? %>
                    <ol class="dd-list">
                      <%= render partial: 'list_item', collection: @menu.structure_as_json %>
                    </ol>
                  <% else %>
                    <div class="dd-empty"></div>
                  <% end %>
                </div>
                <button type="button" class="btn btn-primary" id="menu__add-item-button">Add menu item</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<% end %>

<%# This HTML should match the HTML in menus/_list_item.html.erb %>
<div class="dd-item-template" id="dd-item-template">
  <%= content_tag :li, class: 'dd-item' do %>
    <div class="dd-content">
      <div class="dd-handle">Item</div>
      <div class="row">
        <div class="col-sm-4 col-md-3">
          <div class="form-group">
            <div class="dd-input">
              <input type="text" class="dd-input__input form-control" name="name" placeholder="Navigation label">
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-3">
          <div class="form-group">
            <div class="dd-input">
              <%= select_tag 'pages',
                options_from_collection_for_select(@pages, 'id', 'title'),
                class: 'dd-input__select form-control',
                id: '',
                include_blank: true,
                placeholder: 'Page',
                data: {
                  remote_path: pages_path,
                  remote_scope: 'title_like',
                } %>
              <input type="hidden" class="dd-input__input dd-input__input-for-select form-control" name="page">
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-3">
          <div class="form-group">
            <div class="dd-input">
              <input type="text" class="dd-input__input form-control" name="url" placeholder="Custom URL">
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-3">
          <div class="form-group">
            <div class="dd-input">
              <button type="button" class="dd-content__remove-item btn btn-warning">Remove menu item</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
