<%% content_for :index_header_body do %>
  <%%= dropdown_select_form url: <%= plural_name %>_path,
    id: 'by_status',
    select_options: <%= singular_name.titleize %>.statuses.keys.to_a.collect{ |x| [x.titleize, x] },
    title: 'All Statuses' %>
<%% end %>
<%%= render 'forest/admin/index_header', records: @<%= plural_name %>, model_name: '<%= singular_name %>' %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th><%%= table_sorter title: 'ID', path: :<%= plural_name %>_path, scope: :by_id, default_order: :desc %></th>
        <th><%%= table_sorter title: 'Slug', path: :<%= plural_name %>_path, scope: :by_slug, default_order: :asc %></th>
<%- for attribute in attributes -%>
        <th><%= attribute.human_name.titleize %></th>
<% end -%>
        <th><%%= table_sorter title: 'Created&nbsp;at'.html_safe, path: :<%= plural_name %>_path, scope: :by_created_at, default_order: :desc %></th>
        <th><%%= table_sorter title: 'Updated&nbsp;at'.html_safe, path: :<%= plural_name %>_path, scope: :by_updated_at, default_order: :desc %></th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <%% @<%= plural_name %>.each do |<%= singular_name %>| %>
        <tr>
          <td><%%= status_indicator <%= singular_name %> %></td>
          <td><%%= <%= singular_name %>.id %></td>
          <td><%%= <%= singular_name %>.slug %></td>
<%- for attribute in attributes -%>
          <td><%%= <%= name %>.<%= attribute.name %> %></td>
<% end -%>
          <td><%%= User.find(<%= singular_name %>.versions.last&.version_author)&.display_name if <%= singular_name %>.versions.last&.version_author %></td>
          <td><%%= <%= singular_name %>.created_at.to_formatted_s(:short) %></td>
          <td><%%= <%= singular_name %>.updated_at.to_formatted_s(:short) %></td>
          <td width="1"><%%= link_to 'Edit', edit_<%= singular_name %>_path(<%= singular_name %>), class: 'btn btn-xs btn-primary', role: 'button' %></td>
          <td width="1"><%%= link_to 'Show', show_<%= singular_name %>_path(<%= singular_name %>), class: 'btn btn-xs btn-info', role: 'button' %></td>
          <td width="1"><%%= link_to 'Versions', <%= singular_name %>_versions_path(<%= singular_name %>), class: 'btn btn-xs btn-warning', role: 'button' %></td>
          <td width="1"><%%= link_to 'Destroy', <%= singular_name %>, method: :delete, class: 'btn btn-xs btn-danger', role: 'button', data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%% end %>
    </tbody>
  </table>
</div>

<%%= paginate @<%= plural_name %> %>
