<%= simple_form_for([:admin, @user_group]) do |f| %>
  <%= f.error_notification %>
  <div class="row small-gutters">
    <%= render 'admin/shared/edit/sidebar', f: f, record: @user_group %>
    <div class="col-md-9">
      <div class="card">
        <h1 class="h2 card-header"><%= record_name(@user_group) %></h1>
        <div class="card-body">
          <div class="form-inputs">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :name %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
