<%= render 'admin/headers/index', records: @block_kinds, model_name: 'BlockKind' %>

<div class="table-responsive">
  <table class="forest-table table table-striped">
    <thead>
      <tr>
        <th><%= table_sorter title: 'ID', path: :admin_block_kinds_path, scope: :by_id, default_order: :desc %></th>
        <th>Display Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Record Type</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @block_kinds.each do |block_kind| %>
        <tr>
          <td><%= block_kind.id %></td>
          <td><%= block_kind.display_name %></td>
          <td><%= block_kind.description %></td>
          <td><%= block_kind.category %></td>
          <td><%= block_kind.record_type %></td>
          <td width="1"><%= link_to 'Edit', edit_admin_block_kind_path(block_kind), class: 'btn btn-xs btn-primary', role: 'button' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @block_kinds %>
