<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= title %></h3>
  </div>
  <div class="table-responsive">
    <table class="forest-table table table-striped">
      <thead>
        <tr>
          <th width="10%">Index</th>
          <th width="20%">Resource type</th>
          <th width="60%">Description</th>
          <th width="10%">Count</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @_rendered_resources.concat(resources) %>
        <% resources.each_with_index do |resource, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= resource.model_name.human.titleize.pluralize %></td>
            <td><p class="text-muted"><%= resource.try(:resource_description) %></p></td>
            <td><%= number_with_delimiter resource.count %></td>
            <td width="1"><%= link_to 'Edit', polymorphic_path([:admin, resource]), class: 'btn btn-xs btn-info forest-table__link', role: 'button' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
