<div class="card mb-3">
  <h2 class="card-header h3"><%= title %></h2>
  <div class="table-responsive">
    <table class="forest-table table table-striped table-sm mb-0">
      <thead>
        <tr>
          <th class="px-3" width="10%">Index</th>
          <th class="px-3" width="20%">Resource type</th>
          <th class="px-3" width="60%">Description</th>
          <th class="px-3" width="10%">Count</th>
          <th class="px-3" colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @_rendered_resources.concat(resources) %>
        <% resources.each_with_index do |resource, index| %>
          <tr>
            <td class="px-3"><%= index + 1 %></td>
            <td class="px-3"><%= resource.model_name.human.titleize.pluralize %></td>
            <td class="px-3"><div class="text-muted"><%= resource.try(:resource_description) %></div></td>
            <td class="px-3"><%= number_with_delimiter resource.count %></td>
            <td class="px-3" width="1"><%= link_to 'Edit', polymorphic_path([:admin, resource]), class: 'btn btn-xs btn-primary forest-table__link', role: 'button' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
