<% model = model_name.constantize %>
<% model_names = model.model_name %>
<% should_paginate = local_assigns.fetch :paginate, true %>
<% pagination_collection = local_assigns.fetch :pagination_collection, records %>

<%= admin_header_tag(records) do %>
  <% if notice %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="admin-header__item"><%= model_names.plural.titleize %> <span class="badge"><%= number_with_delimiter records.total_count %></span></h1>
        <%= form_tag send("#{model_names.route_key}_path"), class: 'form-inline admin-header__item', method: :get, enforce_utf8: false, data: { turboform: true } do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search', autofocus: (true if params[:search].present?), data: { turboform: true } %>
            <%= submit_tag 'Submit', name: nil, class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 text-right">
        <%= link_to "New #{model_names.singular.titleize}", send("new_#{model_names.singular_route_key}_path"), class: 'btn btn-success' %>
      </div>
      <% if content_for? :index_header_body %>
        <div class="admin-header__body col-sm-12">
          <%= content_for :index_header_body %>
        </div>
      <% end %>
      <% if should_paginate %>
        <div class="col-sm-6">
          <%= paginate pagination_collection %>
        </div>
      <% end %>
      <div class="col-sm-6 text-right admin-header__search">
      </div>
    </div>
  </div>
<% end %>
