<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Index</th>
        <th>Title</th>
        <th>Slug</th>
        <th>Description</th>
        <th>Author</th>
        <th>Created&nbsp;at</th>
        <th>Updated&nbsp;at</th>
        <th>Diff</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% if ( params[:page].blank? || params[:page] == 1 ) && ( params[:by_status].blank? || record.status == params[:by_status] ) %>
        <tr>
          <td><%= status_indicator record %></td>
          <td>Current Version</td>
          <td><%= record.title %></td>
          <td><%= record.slug %></td>
          <td><%= User.find(record.versions.last&.version_author)&.display_name if record.versions.last&.version_author %></td>
          <td><%= record.created_at.to_formatted_s(:short) %></td>
          <td><%= record.updated_at.to_formatted_s(:short) %></td>
          <td></td>
          <td width="1"><%= link_to 'Show', record, class: 'btn btn-xs btn-primary', role: 'button' %></td>
          <td width="1"><%= link_to 'Edit', send("edit_#{record.class.model_name.singular_route_key}_path", record), class: 'btn btn-xs btn-info', role: 'button' %></td>
        </tr>
      <% end %>
      <% versions.each do |version| %>
        <% page = version.reify %>
        <% next if page.nil? %>
        <tr>
          <td><%= status_indicator page %></td>
          <td><%= content_tag :span, version.index %></td>
          <td><%= record_name page %></td>
          <td><%= page.slug %></td>
          <td><%= User.find(version.version_author)&.display_name if version&.version_author %></td>
          <td><%= page.created_at.to_formatted_s(:short) %></td>
          <td><%= page.updated_at.to_formatted_s(:short) %></td>
          <td>
            <%# TODO: better diff? or remove it? %>
            <% begin %>
              <%= ( record.attributes.reject { |a| %w(page_slot_cache created_at updated_at).include? a }.to_a - page.attributes.reject { |a| %w(page_slot_cache created_at updated_at).include? a }.to_a ).flatten %>
              <br>
              <% current_page_json = record.attributes.select { |a| %w(page_slot_cache).include? a }['page_slot_cache'].collect{ |a| a[:block_as_json] } %>
              <% versioned_page_json = page.attributes.select { |a| %w(page_slot_cache).include? a }['page_slot_cache'].collect{ |a| a[:block_as_json] } %>
              <%= ( versioned_page_json - current_page_json ).flatten %>
              <br>
              <%= ( current_page_json - versioned_page_json ).flatten %>
            <% rescue => e %>
            <% end %>
          </td>
          <td width="1"><%= link_to 'Show', send("#{record.class.model_name.singular_route_key}_version_path", page, version), class: 'btn btn-xs btn-primary', role: 'button' %></td>
          <td width="1"><%= link_to 'Restore', send("restore_#{record.class.model_name.singular_route_key}_version_path", page, version), class: 'btn btn-xs btn-success', role: 'button', title: 'Restore this version', data: { confirm: 'Are you sure you want to restore this version to the current version?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate versions %>
