<%= admin_header_tag(record) do %>
  <% if notice %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
    <% end %>
  <div class="well">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="admin-header__item"><%= record.class.model_name.human %> versions <span class="badge"><%= number_with_delimiter @versions.total_count %></span> <small><%= record_name record %></small></h1>
      </div>
      <div class="col-sm-4 text-right">
        <%= link_to "Edit #{record.class.model_name.singular}", send("edit_#{record.class.model_name.singular_route_key}_path", record), class: 'btn btn-info' %>
      </div>
      <div class="admin-header__body col-sm-12">
        <%= dropdown_select_form url: send("#{record.class.model_name.singular_route_key}_versions_path"),
          id: 'by_status',
          select_options: record.class.statuses.keys.to_a.collect{ |x| [x.titleize, x] },
          title: 'All Statuses' %>
      </div>
      <div class="col-sm-6">
        <%= paginate @versions %>
      </div>
      <div class="col-sm-6 text-right admin-header__search">
      </div>
    </div>
  </div>
<% end %>
