<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Index</th>
        <th>Title</th>
        <th>Slug</th>
        <th>Author</th>
        <th>Created&nbsp;at</th>
        <th>Updated&nbsp;at</th>
        <th>Changes</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% if ( params[:page].blank? || params[:page] == 1 ) && ( params[:by_status].blank? || record.status == params[:by_status] ) %>
        <%# Current record's diff from the last version %>
        <tr>
          <td><%= status_indicator record %></td>
          <td>Current Version</td>
          <td><%= record.title %></td>
          <td><%= record.slug %></td>
          <td><%= User.find(record.versions.last&.version_author)&.display_name if record.versions.last&.version_author %></td>
          <td><%= record.created_at.to_formatted_s(:short) %></td>
          <td><%= record.updated_at.to_formatted_s(:short) %></td>
          <td>
            <% if versions.first.present? %>
              <% diff = ( record.attributes.reject { |a|
                    %w(block_slot_cache created_at updated_at).include?(a)
                  }.to_a - versions.first.reify.attributes.reject { |a|
                    %w(block_slot_cache created_at updated_at).include?(a)
                  }.to_a ).collect { |a|
                    "<strong>#{a[0].titleize}</strong>: #{md a[1]}"
                  } %>
              <% if diff.present? %>
                <div class="diff-container form-control">
                  <%= diff.join('<br>').html_safe %>
                </div>
              <% end %>
            <% end %>
          </td>
          <td width="1"><%= link_to 'Show', record, class: 'btn btn-xs btn-primary', role: 'button' %></td>
          <td width="1"><%= link_to 'Edit', send("edit_#{record.class.model_name.singular_route_key}_path", record), class: 'btn btn-xs btn-info', role: 'button' %></td>
        </tr>
      <% end %>
      <% versions.each_with_index do |version, index| %>
        <% page = version.reify %>
        <% next if page.nil? %>
        <tr>
          <td><%= status_indicator page %></td>
          <td><%= content_tag :span, version.index %></td>
          <td><%= record_name page %></td>
          <td><%= page.slug %></td>
          <td><%= User.find(version.version_author)&.display_name if version&.version_author %></td>
          <td><%= page.created_at.to_formatted_s(:short) %></td>
          <td><%= page.updated_at.to_formatted_s(:short) %></td>
          <td>
            <%# TODO: Refactor all the diff code %>
            <% version_to_compare = versions[index-1] if index > 0 %>
            <% page_to_compare = version_to_compare.presence&.reify || record %>
            <% diff = ( page.attributes.reject { |a|
                          %w(id created_at updated_at block_slot_cache).include?(a)
                        }.to_a - page_to_compare.attributes.reject { |a|
                          %w(id created_at updated_at block_slot_cache).include?(a)
                        }.to_a ).collect { |a|
                          "<strong>#{a[0].titleize}</strong>: #{md a[1].to_s}"
                        }


               blocks_to_compare = BlockVersion.where(block_record_type: version.item_type, block_record_version_id: version.id)
                                               .collect { |a| a.reify.attributes.to_a.prepend(a.reify.class.display_name) }
               if version_to_compare
                 prev_version_blocks_to_compare = BlockVersion.where(block_record_type: version_to_compare.item_type, block_record_version_id: version_to_compare.id)
                                                              .collect { |a| a.reify.attributes.to_a.prepend(a.reify.class.display_name) }
               else
                 prev_version_blocks_to_compare = record.blocks.collect { |a| a.attributes.to_a.prepend(a.class.display_name) }
               end

               block_diff = ( blocks_to_compare.reject { |a|
                                %w(id created_at updated_at).include?(a[0])
                              }.to_a - prev_version_blocks_to_compare.reject { |a|
                                %w(id created_at updated_at).include?(a[0])
                              }.to_a ).collect { |a|
                                a.reject { |b| %w(id created_at updated_at).include?(b[0]) }.to_a
                              }
            %>
            <% if diff.present? || block_diff.present? %>
              <div class="diff-container form-control" resizable>
                <% if diff.present? %>
                  <%= diff.join('<br>').html_safe %>
                  <br>
                <% end %>
                <% if block_diff.present? %>
                  <% block_diff.each do |bdiff| %>
                    <strong><%= bdiff[0] %></strong>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><%= bdiff[1][0] %>:</strong>
                    <%= bdiff[1][1] %>
                    <br>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </td>
          <% begin %>
            <td width="1"><%= link_to 'Show', send("#{record.class.model_name.singular_route_key}_version_path", record, version), class: 'btn btn-xs btn-primary', role: 'button' %></td>
            <td width="1"><%= link_to 'Restore', send("restore_#{record.class.model_name.singular_route_key}_version_path", record, version), class: 'btn btn-xs btn-success', role: 'button', title: 'Restore this version', data: { confirm: 'Are you sure you want to restore this version to the current version?' } %></td>
          <% rescue ActionController::UrlGenerationError => e %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate versions %>
