<% model = model_name.constantize %>
<% model_names = model.model_name %>
<% should_paginate = local_assigns.fetch :paginate, true %>
<% pagination_collection = local_assigns.fetch :pagination_collection, records %>

<%= admin_header_tag(records) do %>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="admin-header__item"><%= model_names.plural.titleize %> <span class="badge"><%= number_with_delimiter records.total_count %></span></h1>
        <%= form_tag send("admin_#{model_names.route_key}_path"), class: 'form-inline admin-header__item', method: :get, enforce_utf8: false, data: { turboform: true } do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search', autofocus: (true if params[:search].present?), data: { turboform: true } %>
            <%= submit_tag 'Submit', name: nil, class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 text-right">
        <div class="btn-group text-left">
          <%= link_to "New #{model_names.singular.titleize}", send("new_admin_#{model_names.singular_route_key}_path"), class: 'btn btn-success' %>
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu--right">
            <li>
              <%= link_to edit_admin_import_path(model_names.singular) do %>
                <span class="glyphicon glyphicon-import"></span>
                Bulk import
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <% if content_for? :index_header_body %>
        <div class="admin-header__body col-sm-12">
          <%= content_for :index_header_body %>
        </div>
      <% end %>
      <% if should_paginate %>
        <div class="col-sm-12">
          <%= paginate pagination_collection %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
