<% model = model_name.constantize %>
<% model_names = model.model_name %>
<%= render 'admin/shared/breadcrumbs' %>
<%= admin_header_tag(records) do %>
  <div class="card">
    <h1 class="card-header h2 d-flex">
      <%= model_names.human.pluralize.titleize %>
      <div class="btn-group text-left ml-auto">
        <% if content_for? :index_header_button_group %>
          <%= content_for :index_header_button_group %>
        <% else %>
          <% if try(:respond_to?, "new_admin_#{model_names.singular_route_key}_path") %>
            <%= link_to "New #{model_names.human.titleize}", send("new_admin_#{model_names.singular_route_key}_path"), class: 'btn btn-outline-primary' %>
            <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to edit_admin_import_path(model_names.singular), class: 'dropdown-item' do %>
                <span class="glyphicon glyphicon-import"></span>
                Bulk import
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </h1>
    <div class="card-body">
      <div class="d-flex align-items-baseline">
        <%= form_tag send("admin_#{model_names.plural}_path"), class: 'form-inline mr-auto w-100', method: :get, enforce_utf8: false do %>
          <div class="form-group w-100">
            <%= text_field_tag :fuzzy_search, params[:fuzzy_search], class: 'form-control mr-2', placeholder: 'Search', autofocus: (true if params[:fuzzy_search].present?) %>
            <%= submit_tag "Search #{model_names.human.pluralize.titleize}", name: nil, class: 'btn btn-outline-secondary' %>
            <%= content_for :index_header_body if content_for? :index_header_body %>
          </div>
        <% end %>
        <% if @pagy.pages > 1 %>
          <%= pagy_bootstrap_nav_js(@pagy).html_safe %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
