<%= admin_header_tag(record) do %>
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= record.class.model_name.human %> <%= record.id %>
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <h1>
              <%= record_name record %>
            </h1>
          </div>
          <div class="col-sm-6 text-right">
            <div class="btn-group">
              <%= link_to "All #{record.class.model_name.plural.titleize}", send("admin_#{record.class.model_name.route_key}_path"), class: 'btn btn-default' %>
              <%= link_to "New #{record.class.model_name.human}", send("new_admin_#{record.class.model_name.singular_route_key}_path"), class: 'btn btn-default' %>
              <% if respond_to? "#{record.class.model_name.singular_route_key}_path" %>
                <%= link_to "View #{record.class.model_name.human}", send("#{record.class.model_name.singular_route_key}_path", record.to_friendly_param), class: 'btn btn-default', data: { turbolinks: false } %>
              <% else %>
                <%= link_to "View #{record.class.model_name.human}", send("admin_#{record.class.model_name.singular_route_key}_path", record), class: 'btn btn-default' %>
              <% end %>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu dropdown-menu--right">
                <li><%= link_to "Destroy #{record.class.model_name.human}", [:admin, record], method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            </div>
            <%= link_to "Edit #{record.class.model_name.human}", send("edit_admin_#{record.class.model_name.singular_route_key}_path", record), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
<% end %>
