<div class="admin-header mt-3">
  <div class="well">
    <div class="row">
      <div class="col-sm-9">
        <h1>
          <%= @import.model_name.human %> Import
          <small>Upload a CSV file matching the template below to bulk import records</small>
        </h1>
      </div>
      <div class="col-sm-3 text-right">
        <div class="btn-group">
        <%= link_to "All #{@import.model_name.plural.titleize}", send("admin_#{@import.model_name.route_key}_path"), class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">CSV template</h3>
  </div>
  <div class="panel-body">
    <p class="text-muted">Download the CSV template and format your import to match the following template. Save the file as a CSV and and upload in the form.
    Leave columns blank if you do not have data for it available or it doesn't make sense to import.</p>
    <p class="text-muted">Not all resources are able to be imported by default. If you need a more custom import please request this.</p>
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <% @import.csv_columns.each do |column| %>
            <th><%= column.titleize %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @import.csv_columns.each_with_index do |column, index| %>
          <td><%= @import.columns_hash[column].type %></td>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'Download CSV template', edit_admin_import_path(@import, format: :csv), class: 'btn btn-outline-secondary', download: '' %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Bulk import</h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for 'import', url: admin_imports_path, html: { multipart: true } do |f| %>
      <div class="form-group">
        <%= f.input :file, as: :file, label: 'CSV File input', input_html: { accept: '.csv' } %>
        <p class="help-block">Upload your CSV file matching the template here.</p>
      </div>
      <%= f.input :model_name, value: @import.model_name.name, as: :hidden %>
      <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
