<%%= simple_form_for([:admin, @<%= singular_table_name %>]) do |f| %>
  <%%= f.error_notification %>
  <div class="row small-gutters">
    <%%= render 'admin/shared/edit/sidebar', f: f, record: @<%= singular_table_name %> %>

    <div class="col-md-9">
<%- if I18n.available_locales.length > 1 -%>
      <%%= render 'admin/shared/localization/nav_tabs' %>
<%- end -%>
      <div class="card" data-collapse-parent>
        <h1 class="h3 card-header"><%%= record_name(@<%= singular_table_name %>) %></h1>
        <div class="card-body" data-collapse-body>
          <div class="form-inputs">
            <div class="row small-gutters">
              <div class="col-sm-6">
<% unless options.skip_sluggable? -%>
                <%%= render 'admin/form_inputs/slug', f: f %>
<% end -%>
                <%- for attribute in attributes -%>
                <%- if attribute.reference? -%>
                  <%- if attribute.name =~ /media_item/ -%>
                <%%= f.association :<%= attribute.name %>, as: :image %>
                  <%- else -%>
                <%%= f.association :<%= attribute.name %> %>
                  <%- end -%>
                <%- else -%>
                  <%- if attribute.name =~ /date/ -%>
                <%%= f.input :<%= attribute.name %>, as: :datepicker %>
                  <%- elsif attribute.name =~ /text/ -%>
                <%%= f.input :<%= attribute.name %>, markdown: true %>
                  <%- else -%>
                <%%= f.input :<%= attribute.name %> %>
                  <%- end -%>
                <%- end -%>
                <%- end -%>
                <%%= f.button :submit, class: 'btn-success d-md-none' %>
              </div>
              <div class="col-sm-6">
<% unless options.skip_statusable? -%>
                <%%= render 'admin/form_inputs/status', f: f, record: @<%= singular_table_name %> %>
<% end -%>
              </div>
            </div>
          </div>
        </div>
      </div>
<%- unless options.skip_blockable? -%>
      <%%# Uncomment the following partial if the record is blockable. Optionally pass the block_layout or block_kinds to the partial. %>
      <%%#= render 'admin/block_record/block_layout', f: f, block_layout: @block_layout, block_kinds: @block_kinds %>
<%- end -%>
    </div>
  </div>
<%% end %>
