<%%= render 'admin/headers/index', records: @<%= plural_name %>, model_name: '<%= name %>' %>

<div class="table-responsive">
  <table class="forest-table table table-striped">
    <thead>
      <tr>
        <th><%%= table_sorter title: 'ID', path: :admin_<%= plural_name %>_path, scope: :by_id, default_order: :desc %></th>
        <th><%%= table_sorter title: 'Slug', path: :admin_<%= plural_name %>_path, scope: :by_slug, default_order: :asc %></th>
<%- for attribute in attributes -%>
        <th><%= attribute.human_name.titleize %></th>
<% end -%>
        <th><%%= table_sorter title: 'Created&nbsp;at'.html_safe, path: :admin_<%= plural_name %>_path, scope: :by_created_at, default_order: :desc %></th>
        <th><%%= table_sorter title: 'Updated&nbsp;at'.html_safe, path: :admin_<%= plural_name %>_path, scope: :by_updated_at, default_order: :desc %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%% @<%= plural_name %>.each do |<%= singular_name %>| %>
        <tr>
          <td><%%= <%= singular_name %>.id %></td>
          <td><%%= <%= singular_name %>.slug %></td>
<%- for attribute in attributes -%>
          <td><%%= <%= singular_name %>.<%= attribute.name %> %></td>
<% end -%>
          <td><%%= <%= singular_name %>.created_at.to_formatted_s(:long) %></td>
          <td><%%= <%= singular_name %>.updated_at.to_formatted_s(:long) %></td>
          <td width="1"><%%= link_to 'Edit', edit_admin_<%= singular_name %>_path(<%= singular_name %>), class: 'btn btn-xs btn-primary', role: 'button' %></td>
          <td width="1">
            <%% if try('<%= singular_name %>_path', <%= singular_name %>) %>
              <%% if <%= singular_name %>.respond_to?(:to_friendly_param) %>
                <%= param = <%= singular_name %>.to_friendly_param %>
              <%% else %>
                <%= param = <%= singular_name %> %>
              <%% end %>
              <%%= link_to 'Show', <%= singular_name %>_path(param), class: 'btn btn-xs btn-info', role: 'button' %>
            <%% else %>
              <%%= link_to 'Show', admin_<%= singular_name %>_path(<%= singular_name %>), class: 'btn btn-xs btn-info', role: 'button' %>
            <%% end %>
          </td>
          <td width="1"><%%= link_to 'Destroy', [:admin, <%= singular_name %>], method: :delete, class: 'btn btn-xs btn-danger', role: 'button', data: { confirm: 'Are you sure you want to destroy this <%= singular_name %>?' } %></td>
        </tr>
      <%% end %>
    </tbody>
  </table>
</div>

<%%= paginate @<%= plural_name %> %>
