<p>Find me in app/views/forest/<%= plural_name %>/show.html.erb</p>

<%%# content_for :page_description, @<%= singular_name %>.description if @<%= singular_name %>.try(:description).present? %>

<%- for attribute in attributes -%>
<p>
  <b><%= attribute.name.titleize %></b>
  <%%= @<%= singular_name %>.<%= attribute.name %> %>
</p>
<%- end -%>

<%%= render_blocks @<%= singular_name %> %>
