<p>Find me in app/views/forest/<%= plural_name %>/show.html.erb</p>

<%%# content_for :page_description, @<%= singular_name %>.description if @<%= singular_name %>.try(:description).present? %>
<%%# content_for :page_featured_image, @<%= singular_name %>.featured_image.attachment.url(:large) if @<%= singular_name %>.try(:featured_image).present? %>

<%- for attribute in attributes -%>
<p>
  <b><%= attribute.name.titleize %></b>
  <%%= @<%= singular_name %>.<%= attribute.name %> %>
</p>
<%- end -%>

<p>
  <b>Status:</b>
  <%%= @<%= singular_name %>.try(:status) %>
</p>

<%%= render_blocks @<%= singular_name %>.blocks if @<%= singular_name %>.try(:blocks).present? %>
