<%= content_tag :div, class: 'nested-fields', data: { block_type: f.object.block_type, block_type_id: f.object.block_id } do %>
  <div class="panel panel-default">
    <div class="panel-heading sortable-handle" data-block-type-header>
      <% if f.object.block_type %>
        <%= content_tag :div, '', class: "nested-fields__panel-display-icon #{f.object.block_type.constantize.display_icon}" %>
        <%= f.object.block_type %>
        <%= f.object.block_id %>
        <button type="button" class="btn btn-default btn-xs pull-right" data-block-collapser>
          <div class="glyphicon glyphicon-minus"></div>
        </button>
      <% end %>
    </div>

    <div class="panel-body">
      <% if f.object.block_type %>
        <% block_class = f.object.block_type.constantize %>
        <%= f.simple_fields_for :block_fields do |block_f| %>
          <%# TODO: DF 08/04/17 - Does it make sense to instantiate and set the nested form object here? %>
          <% block_f.object ||= f.object.block %>
          <%= render 'block_record/block_errors', f: f %>
          <%= render "blocks/#{block_class.model_name.singular}/edit", block_f: block_f, f: f %>
        <% end %>
      <% else %>
        <div class="block-type-field-templates">
          <% block_types.each do |block_type| %>
            <% block_class = block_type.name.constantize %>
            <%= content_tag :div, class: "block-type-field-template block-type-field-template__#{block_class.model_name.singular}", data: { block_type: block_type.name, block_type_id: block_type.id } do %>
              <%= f.simple_fields_for :block_fields do |block_f| %>
                <%# TODO: DF 08/04/17 - Does it make sense to instantiate and set the nested form object here? %>
                <% block_f.object ||= block_type.block.new %>
                <%= render "blocks/#{block_class.model_name.singular}/edit", block_f: block_f, f: f %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <%= f.input :layout, as: :hidden, input_html: { value: layout_name } %>
      <%= f.input :block_type, collection: block_types, value_method: :name, include_blank: false, wrapper_html: { class: 'block-type-selector' } %>
      <%= f.input :block_id, as: :hidden %>
      <%#= f.input :block_previous_version_id, as: :hidden %>
      <%= f.input :block_record_type, as: :hidden, input_html: { value: @block_record&.block_record_type } %>
      <%= f.input :block_record_id, as: :hidden, input_html: { value: @block_record&.block_record_id } %>
      <%= f.input :position, as: :hidden, wrapper_html: { class: 'block-position' } %>
      <%#= f.input :page_id, as: :hidden %>
      <%#= f.input :page_version_id, as: :hidden %>

      <%= link_to_remove_association 'Remove Block', f, class: 'btn btn-warning' %>
    </div>

  </div>
<% end %>
