<div class="admin-header">
  <div class="well">
    <h1>Settings <span class="badge"><%= number_with_delimiter Setting.count %></span></h1>
    <%= paginate @settings %>
  </div>
</div>

<div class="table-responsive">
  <table class="forest-table table table-striped">
    <thead>
      <tr>
        <th><%= table_sorter title: 'ID', path: :settings_path, scope: :by_id, default_order: :asc %></th>
        <th><%= table_sorter title: 'Title', path: :settings_path, scope: :by_title, default_order: :asc %></th>
        <th><%= table_sorter title: 'Slug', path: :settings_path, scope: :by_slug, default_order: :asc %></th>
        <th>Value</th>
        <th><%= table_sorter title: 'Created&nbsp;at'.html_safe, path: :settings_path, scope: :by_created_at, default_order: :desc %></th>
        <th><%= table_sorter title: 'Updated&nbsp;at'.html_safe, path: :settings_path, scope: :by_created_at, default_order: :desc %></th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @settings.each do |setting| %>
        <tr>
          <td><%= setting.id %></td>
          <td><%= setting.title %></td>
          <td><%= setting.slug %></td>
          <td><%= truncate admin_setting_value(setting) %></td>
          <td><%= setting.created_at.to_formatted_s(:short) %></td>
          <td><%= setting.updated_at.to_formatted_s(:short) %></td>
          <td width="1"><%= link_to 'Edit', edit_setting_path(setting), class: 'btn btn-xs btn-info forest-table__link', role: 'button' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @settings %>
