<%# Make sure to update the media item preview in the following file when changing this partial.
    app/assets/javascripts/forest/admin/partials/media_item_chooser_modal.js.erb %>

<%= content_tag :div, class: "media-item--grid mb-3 col-xs-4 col-sm-3 col-md-2" do %>
  <% if media_item.image? %>
    <% attachment_or_placeholder_url = media_item.attachment.present? ? (media_item.attachment(:small)&.url.presence || media_item.attachment(:medium)&.url.presence || media_item.attachment_url(:large)) : '#TODO' %>
    <% attachment_or_placeholder_url_large = media_item.attachment.present? ? (media_item.attachment(:medium)&.url.presence || media_item.attachment_url(:large)) : '#TODO' %>

    <% if media_item.try(:point_of_interest_x).present? && media_item.try(:point_of_interest_y).present? %>
      <% point_of_interest_x = media_item.point_of_interest_x %>
      <% point_of_interest_y = media_item.point_of_interest_y %>
      <% css_style = "background-position: #{point_of_interest_x}% #{point_of_interest_y}%;" %>
    <% end %>
  <% elsif media_item.try(:vimeo_video?) && (media_item.vimeo_video_thumbnail_override.present? || media_item.vimeo_video_thumbnail.present?) %>
    <% if media_item.vimeo_video_thumbnail_override %>
      <% attachment_or_placeholder_url = media_item.vimeo_video_thumbnail_override.attachment_url(:small) %>
      <% attachment_or_placeholder_url_large = media_item.vimeo_video_thumbnail_override.attachment_url(:medium) %>
    <% else %>
      <% attachment_or_placeholder_url = media_item.vimeo_video_thumbnail %>
      <% attachment_or_placeholder_url_large = media_item.vimeo_video_thumbnail %>
    <% end %>
  <% elsif media_item.try(:video?) %>
    <% attachment_or_placeholder_url = media_item.attachment_url %>
  <% else %>
    <% attachment_or_placeholder_url = media_item.attachment.present? ? media_item.attachment_url : '#TODO' %>
  <% end %>

  <% content = capture do %>
    <% if media_item.file? %>
      <%= content_tag :span, '', class: "media-item--grid__icon glyphicon glyphicon-#{media_item.glyphicon}" %>
    <% elsif media_item.try(:video?) && !media_item.try(:vimeo_video?) %>
      <%= content_tag :span, '', class: "media-item--grid__icon glyphicon glyphicon-video" %>
    <% end %>
    <%= content_tag :div, media_item.display_file_name_with_extension.html_safe, class: "media-item--grid__label small card", title: "#{media_item.attachment_file_name}\nUpdated at #{forest_date(media_item.updated_at)}\nCreated at #{forest_date(media_item.created_at)}".html_safe %>
  <% end %>
  <%= link_to edit_admin_media_item_path(media_item),
              class: 'media-library-link blank-link',
              data: {
                media_item_id: media_item.id,
                video_url: (video_url(attachment_or_placeholder_url) if media_item.try(:video?)),
                image_url: (image_url(attachment_or_placeholder_url) if (media_item.try(:image?) || media_item.try(:vimeo_video?))),
                image_url_large: (image_url(attachment_or_placeholder_url_large) if (media_item.try(:image?) || media_item.try(:vimeo_video?))) } do %>
    <%= content_tag :div,
                    content,
                    class: "media-item--grid__image background-image-contain square-image rounded-lg #{'media-item--grid__image--file' if media_item.try(:file?)}",
                    style: "background-image: url(#{attachment_or_placeholder_url}); #{css_style}" %>
    <% if media_item.try(:video?) && !media_item.try(:vimeo_video?) %>
      <%# TODO: replace with poster image when present %>
      <% video_preview_url = media_item.attachment_url %>
      <% video_preview_url = media_item.video_list.lower_res.url if (media_item.try(:video_list).present? && media_item.video_list.lower_res.present?) %>
      <%= video_tag video_preview_url, preload: 'metadata', class: 'media-item--grid__video rounded-lg' if video_preview_url.present? %>
    <% end %>
  <% end %>
  <div class="media-item--grid__buttons">
    <%= content_tag :div, '', class: 'media-item__button media-item--grid__button media-item--grid__button__edit glyphicon glyphicon-pencil', data: { path: edit_admin_media_item_path(media_item) } %>
    <%# TODO: update delete icon to work in media library grid view? %>
    <%= content_tag :div, '', class: 'media-item__button media-item--grid__button media-item--grid__button__remove glyphicon glyphicon-remove' %>
  </div>
<% end %>
