<tr class="media-library__list-table-row">
  <td><%= check_box_tag "selected[]", media_item.id %></td>
  <td>
    <div class="row">
      <div class="media-library-image-row col-xs-4 col-sm-2">
        <% attachment_or_placeholder_url = media_item.attachment.present? ? media_item.attachment_url(:thumb) : '' %>
        <% content = capture do %>
          <% if media_item.file? %>
            <%= content_tag :span, '', class: "media-library-image--list__icon glyphicon #{media_item.glyphicon}" %>
          <% end %>
        <% end %>
        <%= link_to edit_admin_media_item_path(media_item), class: "media-library-link media-library-link--list #{media_item.file? ? 'media-library-link--file' : 'media-library-link--image'}", data: { media_item_id: media_item.id, image_url: (image_url(attachment_or_placeholder_url) if media_item.image?) } do %>
          <%= content_tag :div, content, class: "media-library-image media-library-image--list rounded #{'media-library-image--file' if media_item.file?}", style: "background-image: url(#{image_url(attachment_or_placeholder_url) if media_item.image?})" %>
        <% end %>
      </div>
      <div class="col-sm-8">
        <%= link_to media_item.title.presence || media_item.slug, edit_admin_media_item_path(media_item) %>
        <br>
        <%= media_item.attachment_file_name %>
      </div>
    </div>
  </td>
  <td><%= md(media_item.alternative_text) %></td>
  <td><%= md(media_item.caption) %></td>
  <td><%= forest_date media_item.created_at %></td>
  <td width="1">
    <%= link_to 'Edit', edit_admin_media_item_path(media_item), class: 'btn btn-xs btn-primary', role: 'button' %>
  </td>
  <td width="1">
    <%= link_to 'Destroy', [:admin, media_item], method: :delete, class: 'btn btn-xs btn-danger', role: 'button', data: { confirm: 'Are you sure you want to destroy this record? This action is irreversible.' } %>
  </td>
</tr>
