<%# Make sure to update the media item preview in the following file when changing this partial.
    app/assets/javascripts/forest/admin/partials/media_item_chooser_modal.js.erb %>

<%= content_tag :div, class: "media-item-thumbnail col-xs-4 col-sm-3 col-md-2" do %>
  <%# TODO: file url at proper size %>
  <% attachment_or_placeholder_url = media_item.attachment.exists? ? media_item.attachment.url : '' %>
  <% attachment_or_placeholder_url_large = media_item.attachment.exists? ? media_item.attachment.url : '' %>
  <% content = capture do %>
    <% if media_item.file? %>
      <%= content_tag :span, '', class: "media-item-thumbnail__icon glyphicon #{media_item.glyphicon}" %>
    <% end %>
    <%= content_tag :div, media_item.title, class: "media-item-thumbnail__label small well", title: media_item.attachment_file_name %>
  <% end %>
  <%= link_to edit_admin_media_item_path(media_item),
              class: "media-item-thumbnail__link #{media_item.try(:file?) ? 'media-item-thumbnail__link--file' : 'media-item-thumbnail__link--image'}",
              data: {
                media_item_id: media_item.id,
                image_url: (image_url(attachment_or_placeholder_url) if media_item.try(:image?)),
                image_url_large: (image_url(attachment_or_placeholder_url_large) if media_item.try(:image?)) } do %>
    <%= content_tag :div, content, class: "media-item-thumbnail__image background-image square-image rounded-lg #{'media-item-thumbnail__image--file' if media_item.try(:file?)}", style: "background-image: url(#{image_url(attachment_or_placeholder_url) if media_item.try(:image?)})" %>
  <% end %>
  <div class="media-item-thumbnail__buttons">
    <%= content_tag :div, '', class: 'media-item-thumbnail__button media-item-thumbnail__button__edit glyphicon glyphicon-pencil', data: { path: edit_admin_media_item_path(media_item) } %>
    <%# TODO: update delete icon to work in media library grid view? %>
    <%= content_tag :div, '', class: 'media-item-thumbnail__button media-item-thumbnail__button__remove glyphicon glyphicon-remove' %>
  </div>
<% end %>
