<div class="modal fade media-item-chooser" id="media-item-chooser" tabindex="-1" role="dialog" aria-labelledby="mediaItemChooser">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="media-item-chooser__modal-title modal-title" id="gridSystemModalLabel">Media Library</h4>
        <div class="row">
          <div class="col-sm-6">
            <%= dropdown_select_form url: admin_media_items_path,
              id: 'by_date',
              select_options: MediaItem.dates_for_filter,
              title: 'All Dates',
              remote_parent: '.modal',
              remote_target: '.modal-body',
              remote_response_target: '.media-library' %>
            <%# Create a remote form helper and wire this up like the dropdown_select_form with remote option %>
            <br>
            <%= form_tag admin_media_items_path, class: 'form-inline admin-header__item', method: :get, enforce_utf8: false do %>
              <div class="form-group">
                <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search' %>
                <%= submit_tag 'Submit', name: nil, class: 'btn btn-default' %>
              </div>
            <% end %>
          </div>
          <div class="col-sm-6">
            <p class="text-muted">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              Drag and drop images or files to upload new items.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-body">
        Loading...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="media-item-chooser__select-button btn btn-primary">Select</button>
        <%= render 'admin/file_upload' %>
      </div>
    </div>
  </div>
</div>
