<% content_for :index_header_body do %>
  <%= link_to admin_media_items_path(layout: :list), class: 'btn btn-link btn-md' do %>
    <span class="glyphicon glyphicon-th-list"></span>
  <% end %>

  <%= link_to admin_media_items_path(layout: :grid), class: 'btn btn-link btn-md' do %>
    <span class="glyphicon glyphicon-th-large"></span>
  <% end %>

  <%= dropdown_select_form url: admin_media_items_path(current_scopes.except(:by_date)), id: 'by_date', select_options: MediaItem.dates_for_filter, title: 'All Dates' %>
  <%= dropdown_select_form url: admin_media_items_path(current_scopes.except(:by_content_type)), id: 'by_content_type', select_options: MediaItem.content_types_for_filter, title: 'All Content Types' %>
<% end %>

<%= render 'admin/headers/index', records: @media_items, model_name: 'MediaItem', paginate: false %>

<%= info_message 'Drag and drop images or files to upload multiple items at once.' %>

<%= render 'admin/file_upload', klass: MediaItem, association: :attachment %>

<div class="media-library">
  <% if @layout == :grid %>
    <div class="row small-gutters" data-infinite-load>
      <% if @media_items.blank? %>
        <div class="col-sm-12 text-center">No results</div>
      <% else %>
        <%= render partial: 'media_item_grid_layout', collection: @media_items, as: :media_item, cached: true %>
        <%= link_to_next_page @media_items, 'Next page', class: 'infinite-load__next-page-link' %>
      <% end %>
    </div>
  <% else %>
    <%= form_tag update_multiple_admin_media_items_path, method: :post, class: 'form-inline' do %>
      <select name="bulk_actions" id="bulk_actions" class="form-control">
        <option value="name">Bulk Actions</option>
        <option value="delete">Delete Permanently</option>
      </select>

      <%= submit_tag 'Apply', class: 'btn btn-default', data: { confirm: 'Are you sure you want to apply this bulk action?' } %>

      <br>
      <%= paginate @media_items %>

      <table class="table table-striped table-sm multi-checkbox-parent">
        <thead>
          <tr>
            <th width="1"><%= check_box_tag 'select_all' %></th>
            <th>File</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'media_item_list_layout', collection: @media_items, as: :media_item, cached: true %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>

<%= paginate @media_items if @layout == :list %>
