<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>
  <%= render 'block_record/block_errors_for_record', blocks: @blocks %>

  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default" data-collapse-parent>
        <div class="panel-heading">
          <h3 class="panel-title">
            Metadata
            <button type="button" class="btn btn-default btn-xs pull-right" data-collapse-trigger>
              <div class="glyphicon glyphicon-minus"></div>
            </button>
          </h3>
        </div>
        <div class="panel-body" data-collapse-body>
          <div class="form-inputs">
            <div class="row">
              <div class="col-sm-6">
                <%= f.input :title %>
                <%= render 'admin/form_inputs/slug', f: f %>
                <%= f.input :path, readonly: true, required: false %>
                <%= f.association :parent_page,
                  include_blank: true,
                  input_html: {
                    data: {
                      remote_path: pages_path,
                      remote_scope: 'title_like',
                    }
                  } %>
                <%= f.input :description %>
                <%= f.button :submit, class: 'btn-success' %>
              </div>
              <div class="col-sm-6">
                <% if @page.statusable? %>
                  <%# TODO: turn the status scheduler into a reusable partial or helper %>
                  <div class="status-scheduler">
                    <%= f.input :status, as: :select, collection: Page.statuses.collect { |k, v| [k.titleize, k] }, include_blank: false %>
                    <%= f.input :scheduled_date, as: :string, wrapper_html: { class: ('active' if @page.scheduled?) } %>
                  </div>
                  <br>
                <% end %>
                <%= f.association :featured_image, as: :image %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="block_slots">
        <%= f.simple_fields_for :block_slots do |f| %>
          <%= render 'block_record_test/block_slot_fields', f: f, block_kinds: @block_kinds %>
        <% end %>

        <%= link_to_add_association 'add block slot',
                                    f,
                                    :block_slots,
                                    partial: 'block_record_test/block_slot_fields',
                                    class: 'btn btn-primary',
                                    render_options: {
                                      locals: {
                                        block_kinds: @block_kinds } } %>
      </div>

      <br>

      <%= f.button :submit, class: 'btn-success' %>
    </div>
  </div>
<% end %>
