<%= content_tag :tr, class: "level-#{level} #{'table__row--child' if level > 0}" do %>
  <td><%= status_indicator page %></td>
  <td><%= page.id %></td>
  <td><%= admin_page_level_indicator level %><%= page.title %></td>
  <td><%= "#{page.parent_page.title} - #{page.parent_page.id}" if page.parent_page.present? %></td>
  <%# TODO: eager load users %>
  <td><%= User.find(page.versions.last&.version_author)&.display_name if page.versions.last&.version_author %></td>
  <td><%= page.updated_at.to_formatted_s(:short) %></td>
  <td width="1"><%= link_to 'Edit', edit_page_path(page), class: 'btn btn-xs btn-primary', role: 'button' %></td>
  <td width="1"><%= link_to 'Show', show_page_path(page), class: 'btn btn-xs btn-info', role: 'button' %></td>
  <td width="1"><%= link_to 'Versions', page_versions_path(page), class: 'btn btn-xs btn-warning', role: 'button' %></td>
  <td width="1"><%= link_to 'Destroy', page, method: :delete, class: 'btn btn-xs btn-danger', role: 'button', data: { confirm: 'Are you sure?' } %></td>
<% end %>

<%# TODO: fix page caching %>
<%= render partial: 'table_row', collection: page.immediate_children, locals: { level: level + 1 }, as: :page %>
