<% content_for :index_header_body do %>
  <%= dropdown_select_form url: pages_path,
    id: 'by_status',
    select_options: Page.statuses.keys.to_a.collect{ |x| [x.titleize, x] },
    title: 'All Statuses' %>
<% end %>
<%= render 'admin/headers/index', records: @pages, model_name: 'Page', pagination_collection: @parent_pages %>

<div class="table-responsive">
  <table class="forest-table table table-striped">
    <thead>
      <tr>
        <th></th>
        <th><%= table_sorter title: 'ID', path: :pages_path, scope: :by_id, default_order: :desc %></th>
        <th><%= table_sorter title: 'Title', path: :pages_path, scope: :by_title %></th>
        <th><%= table_sorter title: 'Parent&nbsp;Page'.html_safe, path: :pages_path, scope: :by_parent_page %></th>
        <th>Author</th>
        <th><%= table_sorter title: 'Updated&nbsp;at'.html_safe, path: :pages_path, scope: :by_updated_at, default_order: :desc %></th>
        <% if Page.try(:versionable?) %>
          <th colspan="4"></th>
        <% else %>
          <th colspan="2"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <%# TODO: fix page caching %>
      <%= render partial: 'table_row', collection: @parent_pages, locals: { level: 0 }, as: :page %>
    </tbody>
  </table>
</div>

<%= paginate @parent_pages %>
