<% content_for :index_header_body do %>
  <%= dropdown_select_form url: pages_path,
    id: 'by_status',
    select_options: Page.statuses.keys.to_a.collect{ |x| [x.titleize, x] },
    title: 'All Statuses' %>
<% end %>
<%= render 'admin/index_header', records: @pages, model_name: 'Page' %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th><%= table_sorter title: 'ID', path: :pages_path, scope: :by_id, default_order: :desc %></th>
        <th><%= table_sorter title: 'Title', path: :pages_path, scope: :by_title %></th>
        <th><%= table_sorter title: 'Parent&nbsp;Page'.html_safe, path: :pages_path, scope: :by_parent_page %></th>
        <th>Author</th>
        <th><%= table_sorter title: 'Updated&nbsp;at'.html_safe, path: :pages_path, scope: :by_updated_at, default_order: :desc %></th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @pages.includes(:versions, :child_page_groups).each do |page| %>
        <%= render 'table_row', page: page, level: 0 %>
        <%# binding.pry if page.uniq_child_page_groups.any? %>
        <% page.uniq_child_page_groups.each do |child_page| %>
          <%= render 'table_row', page: child_page.page, level: child_page.level + 1 %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @pages %>
