<div class="block-slot nested-fields">
  <% collection = block_kinds.to_a
                             .sort_by { |bk| bk.category }
                             .collect { |bk| [bk.to_label, bk.id, category: bk.category, data: { select2_response: bk.to_select2_response }] } %>
  <%= f.association :block_kind,
                    collection: collection,
                    as: :grouped_select,
                    group_by: proc { |bk| bk.last[:category].humanize if bk.last[:category].present? },
                    include_blank: true,
                    input_html: {
                      class: 'block-kind-select' } %>

  <div class="block-slot-field-templates">
    <% block_kinds.each do |block_kind| %>
      <% klass = block_kind.name.constantize %>
      <%= content_tag :div,
                      class: "block-slot-field-template block-slot-field-template--#{klass.model_name.singular}",
                      data: {
                        block_kind_id: block_kind.id } do %>

        <div class="panel panel-default">
          <div class="panel-heading sortable-handle" data-block-type-header>
            <div class="block-type-header-title">
              <%= content_tag :div, '', class: "nested-fields__panel-display-icon #{klass.display_icon}" %>
              <%= klass.display_name %>
            </div>

            <%= render 'admin/block_record/block_slot_field_buttons', f: f %>
          </div>

          <div class="block-slot__inputs panel-body">
            <%= f.simple_fields_for :block, f.object.send(:build_block, klass) do |f| %>
              <%= render "blocks/#{klass.model_name.singular}/edit", f: f %>
            <% end %>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>

  <%= f.association :block_layout, as: :hidden, input_html: { value: block_layout.id } %>
  <%= f.input :block_record_type, as: :hidden %>
  <%= f.input :position, as: :hidden, input_html: { class: 'block-position' } %>
</div>
