<div class="block-slot nested-fields">
  <div class="panel panel-default">
    <div class="block-slot__panel-heading panel-heading sortable-handle" data-block-type-header>
      <div class="block-type-header-title">
        <% if f.object.block_kind %>
          <%= content_tag :div, '', class: "nested-fields__panel-display-icon #{f.object.block_kind.name.constantize.display_icon}" %>
          <%= f.object.block.try(:display_name) %>
          <span class="text-muted">
            <small><%= f.object.block_id %></small>
            <small><%= f.object.block_kind.description %></small>
          </span>
        <% end %>
      </div>

      <%= render 'admin/block_record/block_slot_field_buttons', f: f %>
    </div>

    <div class="block-slot__inputs panel-body">
      <% klass = f.object.block_kind.name.constantize %>
      <%= f.simple_fields_for :block do |f| %>
        <%= render "blocks/#{klass.model_name.singular}/edit", f: f %>
      <% end %>
    </div>
  </div>

  <%= f.association :block_layout, as: :hidden, input_html: { value: block_layout.id } %>
  <%= f.input :block_record_type, as: :hidden %>
  <%= f.input :block_kind_id, as: :hidden %>
  <%= f.input :position, as: :hidden, input_html: { class: 'block-position' } %>
</div>
