<% cache_if f.object.present?, [f.object, f.object.try(:block_record)], expires_in: 4.weeks do %>
  <div class="block-slot-field__buttons pl-2 ml-auto btn-group h-100">
    <button type="button" class="block-slot-field__button--low-priority block-slot-field__button--add-block btn btn-xs btn-outline-secondary" data-block-add title="Add block">
      <%= bootstrap_icon('plus') %>
    </button>
    <%= link_to_remove_association f,
          class: 'block-slot-field__button--low-priority block-slot-field__button--remove-block btn btn-xs btn-outline-secondary',
          title: 'Remove block',
          data: {
            confirm: "Are you sure you want to remove this block?" } do %>
      <%= bootstrap_icon('dash') %>
    <% end %>
    <button type="button" class="btn btn-xs btn-outline-secondary block-slot-field__button--collapse-block" data-collapse-trigger title="Collapse block">
      <%= bootstrap_icon 'chevron-down', class: 'collapse-trigger__chevron-down' %>
      <%= bootstrap_icon 'chevron-up', class: 'collapse-trigger__chevron-up' %>
    </button>
  </div>
<% end %>
