<%# Make sure this file matches the structure of the _block_slot_fields_template.html.erb file %>

<% block_id = f.object.try(:block).try(:block_id) %>
<% block_kind = f.object.try(:block).try(:model_name).try(:name) %>
<% locals = { block_record: local_assigns.fetch(:block_record, nil) } %>

<%= content_tag :div,
                class: "block-slot nested-fields #{'block-slot--has-error' if f.object.try(:block).try(:hidden?)}",
                id: block_id,
                data: {
                  kind: block_kind,
                  collapse_parent: true } do %>
  <div class="card">
    <div class="card-header sortable-handle">
      <div class="block-type-header-title d-flex">
        <% if f.object.block_kind %>
          <%= content_tag :div, f.object.block_kind.name.constantize.display_icon, class: 'mr-2' %>
          <div class="block-slot__block-display-name mr-2 flex-shrink-0">
            <%= f.object.block.try(:display_name) %>
          </div>
          <span class="block-slot__block-kind-description text-muted">
            <small><%= f.object.block_kind.description %></small>
          </span>
        <% end %>
        <%= render 'admin/block_record/block_slot_field_buttons', f: f %>
      </div>
    </div>

    <div class="block-slot__inputs card-body pb-1" data-collapse-body>
      <% klass = f.object.block_kind.name.constantize %>
      <%= f.simple_fields_for :block do |f| %>
        <%= render "blocks/#{klass.model_name.singular}/edit", f: f, **locals %>
      <% end %>
    </div>
  </div>

  <%= f.association :block_layout, as: :hidden, input_html: { value: block_layout.id } %>
  <%= f.input :block_record_type, as: :hidden %>
  <%= f.input :block_kind_id, as: :hidden %>
  <%= f.input :position, as: :hidden, input_html: { class: 'block-position' } %>
<% end %>
