<% block_kinds = local_assigns.fetch(:block_kinds, BlockKind.all.by_name) %>
<% block_layout = local_assigns.fetch(:block_layout, BlockLayout.default_layout) %>

<% raise Forest::Error.new('Block Layout is empty.', block_layout) if block_layout.blank? %>

<% locals = { block_kinds: block_kinds,
              block_layout: block_layout } %>

<div class="block-layout panel panel-default" data-collapse-parent>
  <div class="panel-heading">
    <h3 class="panel-title">
      Block Layout: <%= block_layout.display_name %>
      <button type="button" class="btn btn-default btn-xs pull-right" title="Collapse all blocks" data-block-collapse-all>
        <div class="collapsable-icon glyphicon glyphicon-chevron-up"></div>
      </button>
    </h3>
  </div>
  <div class="panel-body">
    <div class="form-inputs">
      <div class="row">

        <% if block_layout.description.present? %>
          <div class="col-sm-6">
            <div class="block-layout__description text-muted">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              <%= block_layout.description %>
            </div>
          </div>
        <% end %>
        <div class="col-sm-12">
          <div id="block_slots" class="block_slots">
            <%# TODO: errors for block inputs stop working when passing block layout scope to fields_for partial %>
            <%# maybe this requires adding a has_many :block_layouts to the blockable record concern. %>
            <%#= f.simple_fields_for :block_slots, f.object.block_slots.by_layout(block_layout)  do |f| %>
            <%= f.simple_fields_for :block_slots, f.object.block_slots  do |f| %>
              <%= render 'admin/block_record/block_slot_fields', f: f, **locals %>
            <% end %>

            <% if f.object.block_slots.blank? %>
              <div class="well well-lg text-center block-layout__empty-description">
                <p>Click the <%= "\"Add #{block_layout.display_name.downcase} block\"" %> button below to start creating your layout.</p>
              </div>
            <% end %>

            <div class="links">
              <%= link_to_add_association "Add #{block_layout.display_name.downcase} block",
                                          f,
                                          :block_slots,
                                          partial: 'admin/block_record/block_slot_fields_template',
                                          class: 'add-block-button btn btn-primary',
                                          render_options: {
                                            locals: locals } %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
