<div class="nested-fields">
  <div class="panel panel-default">
    <% if f.object.blockable_type %>
      <div class="panel-heading">
        <%= f.object.blockable_type.humanize %>
      </div>
    <% end %>
    <div class="panel-body">
      <%= f.input :blockable_type, collection: BlockType.all, value_method: :name %>
      <%= f.input :blockable_id, label: 'blockable_id' %>

      <% if f.object.blockable_type %>
        <%= f.simple_fields_for 'block_fields' do |blockable_type| %>
          <%= blockable_type.input :title, input_html: { value: f.object.blockable&.title } %>
        <% end %>
      <% end %>

      <%= f.input :page_id, as: :hidden %>
      <%= f.input :page_version_id, as: :hidden %>
      <%= f.input :blockable_version_id, as: :hidden %>

      <%= link_to_remove_association 'remove block', f %>
    </div>
  </div>
</div>
