<div class="admin-header">
  <% if notice %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>
  <div class="well">
    <div class="row">
      <div class="col-sm-8">
        <h1>
          <%= @page.title %>
          <small>Page <%= @page.id %></small>
          <%= link_to "<span class='badge'>#{@page.versions.count} versions</span>".html_safe, page_versions_path(@page) %>
        </h1>
      </div>
      <div class="col-sm-4 text-right">
        <%= link_to 'View Page', show_page_path(@page), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<%= render 'form', page: @page %>
