<% additional_content = local_assigns.fetch(:additional_content, nil) %>
<div class="col-md-3 order-md-1 mb-3 mb-md-0">
  <div class="edit-sidebar">
    <div class="btn-group">
      <% if try(:respond_to?, "new_admin_#{record.model_name.singular}_path") %>
        <%= link_to "New", send("new_admin_#{record.model_name.singular}_path"), title: "Create a new #{record.model_name.human}", class: 'btn btn-outline-secondary' %>
      <% end %>
      <%= link_to "All", send("admin_#{record.model_name.plural}_path"), title: "View all #{record.model_name.plural.titleize}", class: 'btn btn-outline-secondary' %>
      <% record_namespaces = record.model_name.collection.split('/') %>
      <% record_namespaces = record_namespaces.take(record_namespaces.length - 1) %>
      <% if !record.new_record? && recognize_path(send("admin_#{record.model_name.singular}_path", record), method: :delete) %>
        <%= link_to "Destroy", send("admin_#{record.model_name.singular}_path", record), method: :delete, title: "Destroy this #{record.model_name.human}", data: { confirm: "Are you sure you want to destroy this #{record.model_name.human}?" }, class: 'btn btn-outline-secondary' %>
      <% end %>
      <% begin %>
        <% if Rails.application.routes.url_helpers.method_defined?("#{record.model_name.singular_route_key}_path", record.to_friendly_param) %>
          <%= link_to "Show", send("#{record.model_name.singular_route_key}_path", record.to_friendly_param), title: "View this #{record.model_name.human}", class: 'btn btn-outline-secondary' %>
        <% elsif Rails.application.routes.url_helpers.method_defined?("admin_#{record.model_name.singular}_path", record) && recognize_path(send("admin_#{record.model_name.singular}_path", record)) %>
          <%= link_to "Show", send("admin_#{record.model_name.singular}_path", record), title: "View this #{record.model_name.human}", class: 'btn btn-outline-secondary' %>
        <% end %>
      <% rescue Exception => e %>
      <% end %>
    </div>
    <div class="mt-3 d-none d-md-block">
      <% if record.try(:previewable?) %>
        <%= link_to "Preview", '#', class: 'preview-record-button btn btn-outline-secondary ml-auto' %>
      <% end %>
      <%= f.button :submit, class: 'btn-success' %>
    </div>
    <div class="mt-3">
      <% if record.try(:title).present? %>
        <div class="small">
          Title <span class="text-muted"><%= record.title %></span>
        </div>
      <% elsif record.try(:name).present? %>
        <div class="small">
          Name <span class="text-muted"><%= record.name %></span>
        </div>
      <% end %>
      <% unless record.new_record? %>
        <div class="small">
          Record ID <span class="text-muted"><%= record.id %></span>
        </div>
      <% end %>
      <% if record.try(:updated_at).present? %>
        <div class="small">
          Updated at <span class="text-muted"><%= forest_date record.updated_at %></span>
        </div>
      <% end %>
      <% if record.try(:updated_at).present? %>
        <div class="small">
          Created at <span class="text-muted"><%= forest_date record.created_at %></span>
        </div>
      <% end %>
    </div>
    <% if additional_content.present? %>
      <div class="mt-3">
        <%= additional_content %>
      </div>
    <% end %>
  </div>
</div>
