<% content_for :index_header_body do %>
  <%= link_to media_items_path(layout: :list), class: 'btn btn-link btn-md' do %>
    <span class="glyphicon glyphicon-th-list"></span>
  <% end %>

  <%= link_to media_items_path(layout: :grid), class: 'btn btn-link btn-md' do %>
    <span class="glyphicon glyphicon-th-large"></span>
  <% end %>

  <%= dropdown_select_form url: media_items_path, id: 'by_date', select_options: MediaItem.dates_for_filter, title: 'All Dates' %>
  <%= dropdown_select_form url: media_items_path, id: 'by_content_type', select_options: MediaItem.content_types_for_filter, title: 'All Content Types' %>
<% end %>

<%= render 'admin/index_header', records: @media_items, model_name: 'MediaItem', paginate: false %>

<%= render 'admin/file_upload' %>

<div class="media-library">
  <% if @layout == :grid %>
    <div class="row small-gutters" data-infinite-load>
      <%= render partial: 'media_item_grid_layout', collection: @media_items, as: :media_item %>
      <%= link_to_next_page @media_items, 'Next page', class: 'infinite-load__next-page-link' %>
    </div>
  <% else %>
    <%= form_tag update_multiple_media_items_path, method: :post, class: 'form-inline' do %>
      <select name="bulk_actions" id="bulk_actions" class="form-control">
        <option value="name">Bulk Actions</option>
        <option value="delete">Delete Permanently</option>
      </select>

      <%= submit_tag 'Apply', class: 'btn btn-default' %>

      <table class="table table-striped">
        <thead>
          <tr>
            <th width="1"><%= check_box_tag 'select_all' %></th>
            <th>File</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
            <%= render partial: 'media_item_list_layout', collection: @media_items, as: :media_item %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>

<%= paginate @media_items if @layout == :list %>
