<% cache @media_item do %>

  <%= link_to @media_item.attachment.url do %>
    <%# TODO: handle non-image file types %>
    <%= image_tag @media_item.attachment.url(:large) %>
  <% end %>

  <p>
    <strong>Title:</strong>
    <%= @media_item.title %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= @media_item.slug %>
  </p>

  <p>
    <strong>Caption:</strong>
    <%= @media_item.caption %>
  </p>

  <p>
    <strong>Alternative text:</strong>
    <%= @media_item.alternative_text %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @media_item.description %>
  </p>

<% end %>
