<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/forest/shared_head' %>

    <%= stylesheet_link_tag 'forest/application_public', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= jquery_include_tag :google %>
    <%= javascript_include_tag 'forest/application_public', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= @body_classes %> public">
    <%# TODO: admin nav bar styles in public %>
    <%= render 'forest/admin/navigation' if show_admin_navigation? %>
    <div class="container-fluid">
      <%= render 'shared/header' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
