<%= simple_form_for([:admin, @setting]) do |f| %>
  <div class="row small-gutters">
    <%= render 'admin/shared/edit/sidebar', f: f, record: @setting %>
    <div class="col-md-9">
      <div class="card">
        <h1 class="h2 card-header"><%= record_name(@setting) %></h1>
        <div class="card-body">
          <% if @setting.description.present? %>
            <div class="card mb-3">
              <div class="card-body">
                <div class="text-muted">
                  <%= md @setting.description %>
                </div>
              </div>
            </div>
          <% end %>
          <%= render "admin/settings/types/#{@setting.value_type}", f: f %>
          <%= f.button :submit, class: 'btn-success' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
