<div class="card bg-light p-3 mb-3">
  <div class="row">
    <div class="col-md-6">
      <h1>
        Forest Documentation
      </h1>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      Version <%= Gem.loaded_specs['forest'].version %><br>
      <%= Gem.loaded_specs['forest'].date.to_formatted_s(:long_ordinal).sub(/ 00:00/, '') %><br>
      <% if Gem.loaded_specs['forest'].homepage.present? %>
        </strong> <%= link_to Gem.loaded_specs['forest'].homepage, Gem.loaded_specs['forest'].homepage %><br>
      <% end %>
    </div>
  </div>
</div>
<% content_for :body do %>
  <div class="card mb-3" id="general">
    <h5 class="card-header">General</h5>
    <div class="card-body">
      <div>Forest is an intuitive, easy to use content management system that is built around your content.</div>
    </div>
  </div>

  <div class="card mb-3" id="dashboard">
    <h5 class="card-header">Dashboard</h5>
    <div class="card-body">
      <div>The <span class="text-danger" data-toggle="tooltip" title="The dashboard is the admin home page.">dashboard</span> is the CMS' home page, where your primary <span class="text-danger" data-toggle="tooltip" title="A resource is a data type that you control via the admin database.">resources</span> are organized.</div>
    </div>
  </div>

  <div class="card mb-3" id="pages">
    <h5 class="card-header">Pages</h5>
    <div class="card-body">
      <div>Pages are typically composed of various interchangeable <span class="text-danger" data-toggle="tooltip" title="A block is a modular component that is used to add content to pages and other resources.">blocks</span>.</div>
    </div>
  </div>

  <div class="card mb-3" id="blocks">
    <h5 class="card-header">Blocks</h5>
    <div class="card-body">
      <p>Pages and other resoures may be composed of blocks, reusable fields such as text, images and more customized implementations based on your project. A resource may contain any number of blocks, which can be re-arrange, deleted and added to suit the page's design.</p>
      <p class="mb-0">It's also possible that blocks may be organized into various <span class="text-danger" data-toggle="tooltip" title="A block layout is a grouping of blocks that may appear in a particular part of the page. For example, you may have block layouts that apply to the sidebar or header areas of a page.">block layouts</span>.</p>
    </div>
  </div>

  <div class="card mb-3" id="markdown">
    <h5 class="card-header">Markdown</h5>
    <div class="card-body">
      <div>Forest uses <%= link_to 'markdown', 'https://daringfireball.net/projects/markdown', target: '_blank' %> to parse text. <%= link_to 'This is another good resource', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet', target: '_blank' %> for markdown.</div>
    </div>
  </div>

  <div class="card mb-3" id="links">
    <h5 class="card-header">Links</h5>
    <div class="card-body">
      <p>When linking to internal pages (pages within this same website) use relative links. A relative link begins with a slash, and omits the name of the website. Here are a few examples how you should link to various pages on your website, and to external websites.</p>
      <ul class="mb-0">
        <li>The home page is just a single slash <code>/</code></li>
        <li>A link to this documentation page <code>/admin/documentation</code></li>
        <li>A contact page that is nested under an about page <code>/about/contact</code></li>
        <li>An external URL uses the full, absolute path <code>http://example.org</code></li>
      </ul>
    </div>
  </div>

  <div class="card mb-3" id="media-library">
    <h5 class="card-header">Media Library</h5>
    <div class="card-body">
      <p>The media library is where you manage image, video and other file uploads. You can drag and drop files onto the media index to upload multiple items at once.</p>
      <p>When preparing your files for upload, please follow these steps to ensure the best web experience:</p>
      <p><strong>Image size</strong></p>
      <ul>
        <li>Upload files that are at least 2000 pixels on their longest edge. Forest converts images to several different sizes. A large source image will produce high quality derivatives. If a high quality image source is unavailable, Forest will use the image at the size you upload, but it may appear pixelated depending on context.</li>
        <li>Don't upload images that are larger than 3000 pixels. This will decrease upload time and increase server load when Forest resizes and optimizes the images. The DPI of the image doesn't matter, just pay attention to the pixel size.</li>
      </ul>
      <p><strong>Color format</strong></p>
      <ul>
        <li>Save images using the sRGB color space. Don't upload CMYK images. If you notice the color integrity of the image is different (it looks washed out, less vibrant, etc.) when viewing online, it's likely because the image wasn't saved in the sRGB color space.</li>
        <li>If you use Adobe Photoshop, save files using the "Save for Web" dialog box, save as maximum quality JPG and check the convert to sRGB checkbox.</li>
      </ul>
      <p><strong>Image file type</strong></p>
      <ul>
        <li>Save images as maximum quality JPGs. Unless the image is an animated GIF, transparent PNG, or you have specific reasons for using another format, export the image as JPG.</li>
        <li>By default, non-JPG file types will be converted to JPGs for the most efficient web experience. You can edit media items individually and choose to retain the source file type for PNGs that need transparency.</li>
      </ul>
      <p><strong>Files / PDFs</strong></p>
      <ul class="mb-0">
        <li>Upload files such as PDFs to the media library in the same way you add images. When linking to a file, you'll likely want to use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#links" target="_blank">markdown</a> to insert the link into a text block. For example, the markdown for a link to download a file could look like:<br><code>[Click here](https://afh4b1i30gk8s.cloudfront.net/production/media_items/attachments/my-file.pdf) to download the file.</code></li>
      </ul>
    </div>
  </div>

  <div class="card mb-3" id="menus">
    <h5 class="card-header">Menus</h5>
    <div class="card-body">
      <div>Menus are where you edit the navigation structure of your website. Menu items are composed of custom links or associations with pages.</div>
    </div>
  </div>

  <div class="card mb-3" id="resources">
    <h5 class="card-header">Resources</h5>
    <div class="card-body">
      <div>Resources represent all of the user-controllable data in Forest CMS. You can create, edit, update and delete items from a consistent interface.</div>
    </div>
  </div>

  <div class="card mb-3" id="bulk-import">
    <h5 class="card-header">Bulk Import</h5>
    <div class="card-body">
      <div>Most resources support bulk import, accessible from the resource's index screen, in the new resource button dropdown. Use the bulk import screen to download an import template, fill out the appropriate fields, then upload the CSV file. Note that not all attributes of a resource are able to be imported without a custom implementation.</div>
    </div>
  </div>

  <div class="card mb-3" id="settings">
    <h5 class="card-header">Settings</h5>
    <div class="card-body">
      <div>Settings are where you define static values that are used throughout the site. For example the title of your website, the description, and other values. You can also <span class="text-danger" data-toggle="tooltip" title="Your website may be cached to improve performance times. If you notice stale data, purge the cache to refresh it.">purge the cache</span> of the website from the settings dropdown nav.</div>
    </div>
  </div>

  <div class="card mb-3" id="users">
    <h5 class="card-header">Users</h5>
    <div class="card-body">
      <div>Users are the website editors, administrators and content managers who have access to the CMS. Users are organized by <span class="text-danger" data-toggle="tooltip" title="User groups allow you to control which users have access to certain resources.">user groups</span> that define what a user has permission to edit, publish and view.</div>
    </div>
  </div>

  <div class="card mb-3" id="user-groups">
    <h5 class="card-header">User Groups</h5>
    <div class="card-body">
      <div>The user tab in the navigation bar gives you access to edit your profile, view the website's public home page, read this documentation, and log out of the CMS.</div>
    </div>
  </div>

  <div class="card mb-3" id="statusable">
    <h5 class="card-header">Status</h5>
    <div class="card-body">
      <p>Some resources support changing the status, which controls whether the resource is visible. Current supported statuses are:</p>
      <dl class="mb-0">
        <dt>Published</dt>
        <dd>The default status. The resource is published and may be visible to the public.</dd>
        <dt>Hidden</dt>
        <dd>The resource is not visible to the public, even with a direct link to the resource.</dd>
      </dl>
    </div>
  </div>

  <div class="card mb-3" id="about-forest">
    <h5 class="card-header">About Forest</h5>
    <div class="card-body">
      <p>Forest was created and is maintained by <a href="http://dylanfisher.com/" target="_blank">Dylan Fisher</a>.</p>
      <p class="mb-0">The goal of forest is to provide an easy to use, full featured CMS similar to Wordpress but with the flexibility and security of Ruby on Rails.</p>
    </div>
  </div>
<% end %>

<%= render 'body' %>
