<div class="admin-header">
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <h1>
          Forest Documentation
        </h1>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <%= Gem.loaded_specs['forest'].name.titleize %> <%= Gem.loaded_specs['forest'].version %><br>
        <%= Gem.loaded_specs['forest'].date.to_formatted_s(:long_ordinal).sub(/ 00:00/, '') %><br>
        <% if Gem.loaded_specs['forest'].homepage.present? %>
          </strong> <%= link_to Gem.loaded_specs['forest'].homepage, Gem.loaded_specs['forest'].homepage %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :body do %>
  <p>Welcome to <strong>Forest Documentation</strong>, the built-in manual for Forest CMS.</p>
  <h2 id="general">General</h2>
  <p>Forest is an intuitive, easy to use content management system that is built around your content.</p>
  <h2 id="dashboard">Dashboard</h2>
  <p>The <span class="text-danger" data-toggle="tooltip" title="The dashboard is the admin home page.">dashboard</span> is the CMS' home page, where your primary <span class="text-danger" data-toggle="tooltip" title="A resource is a data type that you control via the admin database.">resources</span> are organized.</p>
  <h2 id="pages">Pages</h2>
  <p>Pages are typically composed of various interchangeable <span class="text-danger" data-toggle="tooltip" title="A block is a modular component that is used to add content to pages and other resources.">blocks</span>.</p>
  <h2 id="blocks">Blocks</h2>
  <p>Pages and other resoures may be composed of blocks, reusable fields such as text, images and more customized implementations based on your project. A resource may contain any number of blocks, which can be re-arrange, deleted and added to suit the page's design.</p>
  <p>It's also possible that blocks may be organized into various <span class="text-danger" data-toggle="tooltip" title="A block layout is a grouping of blocks that may appear in a particular part of the page. For example, you may have block layouts that apply to the sidebar or header areas of a page.">block layouts</span>.</p>
  <h2 id="markdown">Markdown</h2>
  <p>Forest uses <%= link_to 'markdown', 'https://daringfireball.net/projects/markdown', target: '_blank' %> to parse text. <%= link_to 'This is another good resource', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet', target: '_blank' %> for markdown.</p>
  <h2 id="links">Links</h2>
  <p>When linking to internal pages (pages within this same website) use relative links. A relative link begins with a slash, and omits the name of the website. Here are a few examples how you should link to various pages on your website, and to external websites.</p>
  <ul>
    <li>The home page is just a single slash <code>/</code></li>
    <li>A link to this documentation page <code>/admin/documentation</code></li>
    <li>A contact page that is nested under an about page <code>/about/contact</code></li>
    <li>An external URL uses the full, absolute path <code>http://example.org</code></li>
  </ul>
  <h2 id="media-library">Media Library</h2>
  <p>The media library is where you manage image, video and other file uploads. You can drag and drop files onto the media index to upload multiple items at once.</p>
  <p>When preparing your images for upload, please follow these steps to ensure the best web experience:</p>
  <h3>Images</h3>
  <p><strong>Image size</strong></p>
  <ul>
    <li>Upload files that are at least 2000 pixels on their longest edge. Forest converts images to several different sizes. A large source image will produce high quality derivatives. If a high quality image source is unavailable, Forest will use the image at the size you upload, but it may appear pixelated depending on context.</li>
    <li>Don't upload images that are larger than 3000 pixels. This will decrease upload time and increase server load when Forest resizes and optimizes the images. The DPI of the image doesn't matter, just pay attention to the pixel size.</li>
  </ul>
  <p><strong>Color format</strong></p>
  <ul>
    <li>Save images using the sRGB color space. Don't upload CMYK images. If you notice the color integrity of the image is different (it looks washed out, less vibrant, etc.) when viewing online, it's likely because the image wasn't saved in the sRGB color space.</li>
    <li>If you use Adobe Photoshop, save files using the "Save for Web" dialog box, save as maximum quality JPG and check the convert to sRGB checkbox.</li>
  </ul>
  <p><strong>Image file type</strong></p>
  <ul>
    <li>Save images as maximum quality JPGs. Unless the image is an animated GIF, transparent PNG, or you have specific reasons for using another format, export the image as JPG.</li>
  </ul>
  <h2 id="menus">Menus</h2>
  <p>Menus are where you edit the navigation structure of your website. Menu items are composed of custom links or associations with pages.</p>
  <h2 id="resources">Resources</h2>
  <p>Resources represent all of the user-controllable data in Forest CMS. You can create, edit, update and delete items from a consistent interface.</p>
  <h2 id="bulk-import">Bulk Import</h2>
  <p>Most resources support bulk import, accessible from the resource's index screen, in the new resource button dropdown. Use the bulk import screen to download an import template, fill out the appropriate fields, then upload the CSV file. Note that not all attributes of a resource are able to be imported without a custom implementation.</p>
  <h2 id="settings">Settings</h2>
  <p>Settings are where you define static values that are used throughout the site. For example the title of your website, the description, and other values. You can also <span class="text-danger" data-toggle="tooltip" title="Your website may be cached to improve performance times. If you notice stale data, purge the cache to refresh it.">purge the cache</span> of the website from the settings dropdown nav.</p>
  <h2 id="users">Users</h2>
  <p>Users are the website editors, administrators and content managers who have access to the CMS. Users are organized by <span class="text-danger" data-toggle="tooltip" title="User groups allow you to control which users have access to certain resources.">user groups</span> that define what a user has permission to edit, publish and view.</p>
  <h2 id="user-groups">User Groups</h2>
  <p>The user tab in the navigation bar gives you access to edit your profile, view the website's public home page, read this documentation, and log out of the CMS.</p>
  <h2 id="statusable">Statusable</h2>
  <p>Some resources support changing the status, which controls whether the resource is visible. Current supported statuses are:</p>
  <dl>
    <dt>Published</dt>
    <dd>The default status. The resource is published and may be visible to the public.</dd>
    <dt>Hidden</dt>
    <dd>The resource is not visible to the public, even with a direct link to the resource.</dd>
  </dl>
  <h2 id="about-forest">About Forest</h2>
  <p>Forest is created and maintained by <a href="http://dylanfisher.com/" target="_blank">Dylan Fisher</a>.</p>
  <p>The goal of forest is to provide an easy to use, full featured CMS similar to Wordpress but with the flexibility and security of Ruby on Rails.</p>
  <p>If you have questions about the CMS, the project you are currently working on, or just want to get in touch, email me at <%= mail_to 'hi@dylanfisher.com' %></p>
<% end %>

<%= render 'body' %>
