<ul class="nav navbar-nav">
  <% if policy(:page).dashboard? %>
    <li class="nav-item <%= admin_navbar_active_class(admin_pages_path) %>"><%= link_to 'Pages', admin_pages_path, class: 'nav-link' %></li>
  <% end %>
  <% if policy(:media_item).dashboard? %>
    <li class="nav-item <%= admin_navbar_active_class(admin_media_items_path) %>"><%= link_to 'Media', admin_media_items_path, class: 'nav-link' %></li>
  <% end %>
  <% if policy(:user).dashboard? %>
    <li class="nav-item <%= admin_navbar_active_class(admin_users_path) %>"><%= link_to 'Users', admin_users_path, class: 'nav-link' %></li>
  <% end %>
  <% if policy(:menu).dashboard? %>
    <li class="nav-item <%= admin_navbar_active_class(admin_menus_path) %>"><%= link_to 'Menus', admin_menus_path, class: 'nav-link' %></li>
  <% end %>
  <%= render 'admin/navigation/resources_dropdown' %>
</ul>
