<%= simple_form_for([:admin, @user]) do |f| %>
  <%= f.error_notification %>

  <div class="row small-gutters">
    <%= render 'admin/shared/edit/sidebar', f: f, record: @user %>
    <div class="col-md-9">
      <div class="card">
        <h1 class="h3 card-header"><%= record_name(@user) %> <small class="text-muted-light small" title="<%= @user.model_name.singular %> ID <%= @user.id %>"><%= @user.id %></small></h1>
        <div class="card-body">
          <div class="form-inputs">
            <div class="row">
              <div class="col-sm-6">
                <%= f.input :email, required: true, autofocus: true %>
                <%= f.input :first_name %>
                <%= f.input :last_name %>
                <%= f.input :password, required: @user.new_record?, hint: '6 characters minimum' %>
                <%= f.input :password_confirmation, required: @user.new_record? %>
                <% unless @user.new_record? %>
                  <div class="form-group">
                    <%= link_to "Send password reset link to this user's email.", admin_user_reset_password_path(@user) %>
                  </div>
                <% end %>
                <%= f.button :submit, class: 'btn-success' %>
              </div>
              <div class="col-sm-6">
                <%= f.association :user_groups, input_html: { disabled: !current_user.admin? } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
