<%= render 'admin/headers/index', records: @users, model_name: 'User' %>

<div class="table-responsive">
  <table class="forest-table table table-striped table-sm">
    <thead>
      <tr>
        <th><%= table_sorter title: 'ID', path: :admin_users_path, scope: :by_id, default_order: :desc %></th>
        <th><%= table_sorter title: 'Email', path: :admin_users_path, scope: :by_email, default_order: :asc %></th>
        <th><%= table_sorter title: 'Last name', path: :admin_users_path, scope: :by_last_name, default_order: :asc %></th>
        <th><%= table_sorter title: 'First name', path: :admin_users_path, scope: :by_first_name, default_order: :asc %></th>
        <th>User&nbsp;groups</th>
        <th><%= table_sorter title: 'Created&nbsp;at'.html_safe, path: :admin_users_path, scope: :by_created_at, default_order: :desc %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.last_name %></td>
          <td><%= user.first_name %></td>
          <td><%= user.user_groups.collect(&:display_name).join(', ') %></td>
          <td><%= forest_date user.created_at %></td>
          <td width="1">
            <div class="btn-group">
              <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-sm btn-outline-primary', role: 'button' %>
              <%= link_to 'Show', [:admin, user], class: 'btn btn-sm btn-outline-primary', role: 'button' %>
              <%= link_to 'Destroy', [:admin, user], method: :delete, class: 'btn btn-sm btn-outline-danger', role: 'button', data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= pagy_bootstrap_nav(@pagy).html_safe if @pagy.pages > 1 %>
