<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Forgot your password?</h1>
      </div>

      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, 'Send me reset password instructions', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>

      <div class="panel-footer">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>
