<%= simple_form_for([:admin, @menu]) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default" data-collapse-parent>
        <div class="panel-heading">
          <h3 class="panel-title">
            Metadata
          </h3>
        </div>
        <div class="panel-body" data-collapse-body>
          <div class="form-inputs">
            <div class="row">
              <div class="col-sm-6">
                <p class="text-muted">The menu name and slug determines where this menu is displayed.</p>
                <%= f.input :title %>
                <%= render 'admin/form_inputs/slug', f: f %>
                <%= f.input :structure, as: :hidden %>
                <%= f.button :submit, class: 'btn-success' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default" data-collapse-parent>
        <div class="panel-heading">
          <h3 class="panel-title">
            Menu Structure
          </h3>
        </div>
        <div class="panel-body" data-collapse-body>
          <div class="form-inputs">
            <div class="row">
              <div class="col-sm-12">
                <p class="text-muted">
                  Add menu items and arrange them hierarchically by dragging them into position. When linking to an internal page, make sure to use a <%= link_to 'relative url', admin_documentation_path(anchor: 'links'), target: '_blank' %>.
                </p>
                <% if I18n.available_locales.length > 1 %>
                  <p class="text-muted">
                    This is especially important when your site supports multiple locales. Your links <u>will not</u> work properly if you do not use relative urls that start with a forward slash, e.g. <code>/projects</code>.
                  </p>
                <% end %>
              </div>
              <div class="col-sm-12">
                <div class="dd" id="dd-primary">
                  <% if @menu.structure_as_json.present? %>
                    <ol class="dd-list">
                      <%= render partial: 'list_item', collection: @menu.structure_as_json %>
                    </ol>
                  <% else %>
                    <div class="dd-empty"></div>
                  <% end %>
                </div>
                <button type="button" class="btn btn-primary" id="menu__add-item-button">Add menu item</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<% end %>

<%# This HTML should match the HTML in menus/_list_item.html.erb %>
<div class="dd-item-template" id="dd-item-template">
  <%= content_tag :li, class: 'dd-item' do %>
    <div class="dd-content">
      <div class="dd-handle">Item</div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= content_tag :div, class: "dd-input #{'dd-input--multiple-locales' if I18n.available_locales.length > 1}" do %>
              <% I18n.available_locales.each do |locale| %>
                <% name_attr_suffix = locale == I18n.default_locale ? '' : "_#{locale}" %>
                <% name_attr = "name#{name_attr_suffix}" %>
                <%= text_field_tag name_attr, nil, class: 'dd-input__input form-control', placeholder: "Navigation label #{I18n.available_locales.length > 1 ? locale.upcase : ''}" %>
                <% if I18n.available_locales.length > 1 %>
                  <div class="dd-input__input__locale-label text-muted"><%= locale.upcase %></div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="dd-input">
              <input type="text" class="dd-input__input form-control" name="url" placeholder="URL">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="dd-input text-right">
              <button type="button" class="dd-content__remove-item btn btn-warning">Remove menu item</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
