<%= content_tag :li,
  class: 'dd-item',
  data: {
    id: list_item['id'],
    name: list_item['name'],
    url: list_item['url']
  } do %>
  <div class="dd-content">
    <div class="dd-handle"><%= list_item['name'].presence || "Item #{list_item['id']}" %></div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <div class="dd-input">
            <input type="text" class="dd-input__input form-control" name="name" value="<%= list_item['name'] %>" placeholder="Navigation label">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <div class="dd-input">
            <input type="text" class="dd-input__input form-control" name="url" value="<%= list_item['url'] %>" placeholder="URL">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <div class="dd-input text-right">
            <button type="button" class="dd-content__remove-item btn btn-warning">Remove menu item</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if list_item['children'] %>
    <ol class="dd-list">
      <%= render partial: 'list_item', collection: list_item['children'] %>
    </ol>
  <% end %>
<% end %>
