<div class="container h-100 d-flex flex-column">
  <div class="row justify-content-center my-auto">
    <div class="col-md-4">
      <h1 class="h3 mb-3 fw-normal">Forest</h1>

      <%= bootstrap_form_with url: session_path, class: 'mb-3' do |f| %>
        <%= f.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], floating: true %>
        <%= f.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, floating: true %>
        <%= f.primary "Log in" %>
      <% end %>

      <%= link_to "Forgot password?", new_password_path %>
    </div>
  </div>
</div>

<style>
  body {
    background-image: linear-gradient(to right top, #e6e9ff, #e8eefe, #ecf2fd, #f1f6fb, #f8f9fa);
  }
</style>
