<meta charset="utf-8">
<title id="page-meta-title"><%= meta_page_title %></title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<!-- Basic meta tags -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="<%= page_description %>">
<%= tag(:meta, name: 'keywords', content: page_keywords) if page_keywords.present? %>
<%= tag :meta, name: 'viewport', content: meta_viewport %>

<!-- Open graph meta tags -->
<%= tag :meta, property: 'og:url', content: meta_url %>
<%= tag :meta, property: 'og:description', content: page_description %>
<%= tag :meta, property: 'og:title', content: meta_page_title %>
<%= tag :meta, property: 'og:site_name', content: site_title %>
<%= tag :meta, property: 'og:type', content: meta_type %>
<%= tag :meta, property: 'og:see_also', content: meta_see_also %>

<!-- Google meta tags -->
<%= tag :meta, itemprop: 'name', content: meta_page_title %>
<%= tag :meta, itemprop: 'description', content: page_description %>

<!-- Twitter meta tags -->
<%= tag :meta, itemprop: 'twitter:card', content: 'summary_large_image' %>
<%= tag :meta, itemprop: 'twitter:url', content: request.original_url.force_encoding('utf-8') %>
<%= tag :meta, itemprop: 'twitter:title', content: meta_page_title %>
<%= tag :meta, itemprop: 'twitter:description', content: page_description %>

<!-- Featured image -->
<% if page_featured_image_url.present? %>
<%= tag :meta, property: 'og:image', content: page_featured_image_url %>
<%= tag :meta, itemprop: 'image', content: page_featured_image_url %>
<%= tag :meta, itemprop: 'twitter:image', content: page_featured_image_url %>
<% end %>
<%= tag :meta, property: 'og:image:width', content: page_featured_image_width if page_featured_image_width.present? %>
<%= tag :meta, property: 'og:image:height', content: page_featured_image_height if page_featured_image_height.present? %>
<%= tag :meta, property: 'og:image:type', content: page_featured_image_type if page_featured_image_type.present? %>
<%= tag :meta, property: 'og:image:alt', content: page_featured_image_alt if page_featured_image_alt.present? %>

<%= additional_meta_tags if additional_meta_tags.present? %>
