<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared_head' %>

    <%= stylesheet_link_tag 'forest/application_admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= jquery_include_tag :google %>
    <%= javascript_include_tag 'forest/application_admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= @body_classes %> admin">
    <%= render 'admin/navigation' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
