<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/shared_head' %>
    <meta name="turbolinks-cache-control" content="no-preview">
    <%= stylesheet_link_tag 'forest/application_admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= @body_classes %> admin">
    <%= render 'admin/navigation' %>
    <%= render 'admin/flash_notifications' %>
    <div id="admin-container" class="container-fluid">
      <%= yield %>
    </div>
    <%= render 'admin/media_items/modal' unless controller_name == 'media_items' %>
    <%= jquery_include_tag %>
    <%= javascript_include_tag 'forest/application_admin', data: { turbolinks_eval: false, turbolinks_suppress_warning: true } %>
  </body>
</html>
