<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/shared_head' %>
    <meta name="turbolinks-cache-control" content="no-preview">
    <%= stylesheet_link_tag 'forest/application_admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= @body_classes %> admin">
    <%= render 'admin/navigation' %>
    <%= render 'admin/flash_notifications' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%= render 'media_items/modal' %>
    <%= jquery_include_tag :google, data: { turbolinks_eval: false } %>
    <%= javascript_include_tag 'forest/application_admin', data: { turbolinks_eval: false } %>
  </body>
</html>
