<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/shared_head' %>
    <%#= stylesheet_link_tag 'forest/application_public', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= @body_classes.try(:join, ' ') %> public">
    <%#= TODO: if a admin user is logged in, show admin bar %>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= jquery_include_tag %>
    <%= javascript_include_tag 'forest/application_public', data: { turbolinks_eval: false }  %>
  </body>
</html>
