<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/shared_head' %>
    <%= stylesheet_link_tag 'forest/application_public', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if controller_name == 'sessions' %>
      <%= stylesheet_link_tag 'forest/application_bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
  </head>

  <body class="<%= @body_classes %> public">
    <%# TODO: admin nav bar styles in public %>
    <%= render 'admin/navigation' if false %>
    <div class="container-fluid">
      <%= render 'shared/header' unless controller_name == 'sessions' %>
      <%= yield %>
      <%= render 'shared/footer' unless controller_name == 'sessions' %>
    </div>

    <%= jquery_include_tag :google, data: { turbolinks_eval: false }  %>
    <%= javascript_include_tag 'forest/application_public', data: { turbolinks_eval: false }  %>
  </body>
</html>
