<!DOCTYPE html>
<html lang="en" class="<%= @html_classes.try(:join, ' ') %> devise h-100">
  <head>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'forest/application' %>
    <%= stylesheet_link_tag 'forest/application', media: 'all' %>
  </head>
  <body class="d-flex flex-column h-100">
    <%= yield %>
    <%= render 'admin/shared/footer' %>
  </body>
</html>
